<h2>Colours main palette</h2>

<div class="palette palette--7">
  <div class="palette__color palette__color--hero"></div>
  <div class="palette__color palette__color--primary"></div>
  <div class="palette__color palette__color--secondary"></div>
  <div class="palette__color palette__color--background"></div>
  <div class="palette__color palette__color--border"></div>
  <div class="palette__color palette__color--text"></div>
  <div class="palette__color palette__color--link"></div>
</div>

<hr>
<h2>Main colour palette tints</h2>

<div class="colorbox-wrapper colorbox__4">
  <div class="colorbox colorbox__colour-Hero">
    <div class="colorbox__tint colorbox--colour--95"><span>-95</span></div>
    <div class="colorbox__tint colorbox--colour--90"><span>-90</span></div>
    <div class="colorbox__tint colorbox--colour--80"><span>-80</span></div>
    <div class="colorbox__tint colorbox--colour--70"><span>-70</span></div>
    <div class="colorbox__tint colorbox--colour--60"><span>-60</span></div>
    <div class="colorbox__tint colorbox--colour--50"><span>-50</span></div>
    <div class="colorbox__tint colorbox--colour--40"><span>-40</span></div>
    <div class="colorbox__tint colorbox--colour--30"><span>-30</span></div>
    <div class="colorbox__tint colorbox--colour--20"><span>-20</span></div>
    <div class="colorbox__tint colorbox--colour--10"><span>-10</span></div>
    <span class="colorbox__tint__name">Hero</span>
    <div class="colorbox__tint colorbox--colour-90"><span>90</span></div>
    <div class="colorbox__tint colorbox--colour-80"><span>80</span></div>
    <div class="colorbox__tint colorbox--colour-70"><span>70</span></div>
    <div class="colorbox__tint colorbox--colour-60"><span>60</span></div>
    <div class="colorbox__tint colorbox--colour-50"><span>50</span></div>
    <div class="colorbox__tint colorbox--colour-40"><span>40</span></div>
    <div class="colorbox__tint colorbox--colour-30"><span>30</span></div>
    <div class="colorbox__tint colorbox--colour-20"><span>20</span></div>
    <div class="colorbox__tint colorbox--colour-10"><span>10</span></div>
    <div class="colorbox__tint colorbox--colour-5"><span>5</span></div>
  </div>

  <div class="colorbox colorbox__colour-Primary">
    <div class="colorbox__tint colorbox--colour--95"><span>-95</span></div>
    <div class="colorbox__tint colorbox--colour--90"><span>-90</span></div>
    <div class="colorbox__tint colorbox--colour--80"><span>-80</span></div>
    <div class="colorbox__tint colorbox--colour--70"><span>-70</span></div>
    <div class="colorbox__tint colorbox--colour--60"><span>-60</span></div>
    <div class="colorbox__tint colorbox--colour--50"><span>-50</span></div>
    <div class="colorbox__tint colorbox--colour--40"><span>-40</span></div>
    <div class="colorbox__tint colorbox--colour--30"><span>-30</span></div>
    <div class="colorbox__tint colorbox--colour--20"><span>-20</span></div>
    <div class="colorbox__tint colorbox--colour--10"><span>-10</span></div>
    <span class="colorbox__tint__name">Primary</span>
    <div class="colorbox__tint colorbox--colour-90"><span>90</span></div>
    <div class="colorbox__tint colorbox--colour-80"><span>80</span></div>
    <div class="colorbox__tint colorbox--colour-70"><span>70</span></div>
    <div class="colorbox__tint colorbox--colour-60"><span>60</span></div>
    <div class="colorbox__tint colorbox--colour-50"><span>50</span></div>
    <div class="colorbox__tint colorbox--colour-40"><span>40</span></div>
    <div class="colorbox__tint colorbox--colour-30"><span>30</span></div>
    <div class="colorbox__tint colorbox--colour-20"><span>20</span></div>
    <div class="colorbox__tint colorbox--colour-10"><span>10</span></div>
    <div class="colorbox__tint colorbox--colour-5"><span>5</span></div>
  </div>

  <div class="colorbox colorbox__colour-Secondary">
    <div class="colorbox__tint colorbox--colour--95"><span>-95</span></div>
    <div class="colorbox__tint colorbox--colour--90"><span>-90</span></div>
    <div class="colorbox__tint colorbox--colour--80"><span>-80</span></div>
    <div class="colorbox__tint colorbox--colour--70"><span>-70</span></div>
    <div class="colorbox__tint colorbox--colour--60"><span>-60</span></div>
    <div class="colorbox__tint colorbox--colour--50"><span>-50</span></div>
    <div class="colorbox__tint colorbox--colour--40"><span>-40</span></div>
    <div class="colorbox__tint colorbox--colour--30"><span>-30</span></div>
    <div class="colorbox__tint colorbox--colour--20"><span>-20</span></div>
    <div class="colorbox__tint colorbox--colour--10"><span>-10</span></div>
    <span class="colorbox__tint__name">Secondary</span>
    <div class="colorbox__tint colorbox--colour-90"><span>90</span></div>
    <div class="colorbox__tint colorbox--colour-80"><span>80</span></div>
    <div class="colorbox__tint colorbox--colour-70"><span>70</span></div>
    <div class="colorbox__tint colorbox--colour-60"><span>60</span></div>
    <div class="colorbox__tint colorbox--colour-50"><span>50</span></div>
    <div class="colorbox__tint colorbox--colour-40"><span>40</span></div>
    <div class="colorbox__tint colorbox--colour-30"><span>30</span></div>
    <div class="colorbox__tint colorbox--colour-20"><span>20</span></div>
    <div class="colorbox__tint colorbox--colour-10"><span>10</span></div>
    <div class="colorbox__tint colorbox--colour-5"><span>5</span></div>
  </div>


  <div class="colorbox colorbox__colour-Background">
    <div class="colorbox__tint colorbox--colour--95"><span>-95</span></div>
    <div class="colorbox__tint colorbox--colour--90"><span>-90</span></div>
    <div class="colorbox__tint colorbox--colour--80"><span>-80</span></div>
    <div class="colorbox__tint colorbox--colour--70"><span>-70</span></div>
    <div class="colorbox__tint colorbox--colour--60"><span>-60</span></div>
    <div class="colorbox__tint colorbox--colour--50"><span>-50</span></div>
    <div class="colorbox__tint colorbox--colour--40"><span>-40</span></div>
    <div class="colorbox__tint colorbox--colour--30"><span>-30</span></div>
    <div class="colorbox__tint colorbox--colour--20"><span>-20</span></div>
    <div class="colorbox__tint colorbox--colour--10"><span>-10</span></div>
    <span class="colorbox__tint__name">Background</span>
    <div class="colorbox__tint colorbox--colour-90"><span>90</span></div>
    <div class="colorbox__tint colorbox--colour-80"><span>80</span></div>
    <div class="colorbox__tint colorbox--colour-70"><span>70</span></div>
    <div class="colorbox__tint colorbox--colour-60"><span>60</span></div>
    <div class="colorbox__tint colorbox--colour-50"><span>50</span></div>
    <div class="colorbox__tint colorbox--colour-40"><span>40</span></div>
    <div class="colorbox__tint colorbox--colour-30"><span>30</span></div>
    <div class="colorbox__tint colorbox--colour-20"><span>20</span></div>
    <div class="colorbox__tint colorbox--colour-10"><span>10</span></div>
    <div class="colorbox__tint colorbox--colour-5"><span>5</span></div>
  </div>

</div>
<hr>
<div class="colorbox-wrapper colorbox__4">

  <div class="colorbox colorbox__colour-Border">
    <div class="colorbox__tint colorbox--colour--95"><span>-95</span></div>
    <div class="colorbox__tint colorbox--colour--90"><span>-90</span></div>
    <div class="colorbox__tint colorbox--colour--80"><span>-80</span></div>
    <div class="colorbox__tint colorbox--colour--70"><span>-70</span></div>
    <div class="colorbox__tint colorbox--colour--60"><span>-60</span></div>
    <div class="colorbox__tint colorbox--colour--50"><span>-50</span></div>
    <div class="colorbox__tint colorbox--colour--40"><span>-40</span></div>
    <div class="colorbox__tint colorbox--colour--30"><span>-30</span></div>
    <div class="colorbox__tint colorbox--colour--20"><span>-20</span></div>
    <div class="colorbox__tint colorbox--colour--10"><span>-10</span></div>
    <span class="colorbox__tint__name">Border</span>
    <div class="colorbox__tint colorbox--colour-90"><span>90</span></div>
    <div class="colorbox__tint colorbox--colour-80"><span>80</span></div>
    <div class="colorbox__tint colorbox--colour-70"><span>70</span></div>
    <div class="colorbox__tint colorbox--colour-60"><span>60</span></div>
    <div class="colorbox__tint colorbox--colour-50"><span>50</span></div>
    <div class="colorbox__tint colorbox--colour-40"><span>40</span></div>
    <div class="colorbox__tint colorbox--colour-30"><span>30</span></div>
    <div class="colorbox__tint colorbox--colour-20"><span>20</span></div>
    <div class="colorbox__tint colorbox--colour-10"><span>10</span></div>
    <div class="colorbox__tint colorbox--colour-5"><span>5</span></div>
  </div>

  <div class="colorbox colorbox__colour-Text">
    <div class="colorbox__tint colorbox--colour--95"><span>-95</span></div>
    <div class="colorbox__tint colorbox--colour--90"><span>-90</span></div>
    <div class="colorbox__tint colorbox--colour--80"><span>-80</span></div>
    <div class="colorbox__tint colorbox--colour--70"><span>-70</span></div>
    <div class="colorbox__tint colorbox--colour--60"><span>-60</span></div>
    <div class="colorbox__tint colorbox--colour--50"><span>-50</span></div>
    <div class="colorbox__tint colorbox--colour--40"><span>-40</span></div>
    <div class="colorbox__tint colorbox--colour--30"><span>-30</span></div>
    <div class="colorbox__tint colorbox--colour--20"><span>-20</span></div>
    <div class="colorbox__tint colorbox--colour--10"><span>-10</span></div>
    <span class="colorbox__tint__name">Text</span>
    <div class="colorbox__tint colorbox--colour-90"><span>90</span></div>
    <div class="colorbox__tint colorbox--colour-80"><span>80</span></div>
    <div class="colorbox__tint colorbox--colour-70"><span>70</span></div>
    <div class="colorbox__tint colorbox--colour-60"><span>60</span></div>
    <div class="colorbox__tint colorbox--colour-50"><span>50</span></div>
    <div class="colorbox__tint colorbox--colour-40"><span>40</span></div>
    <div class="colorbox__tint colorbox--colour-30"><span>30</span></div>
    <div class="colorbox__tint colorbox--colour-20"><span>20</span></div>
    <div class="colorbox__tint colorbox--colour-10"><span>10</span></div>
    <div class="colorbox__tint colorbox--colour-5"><span>5</span></div>
  </div>

  <div class="colorbox colorbox__colour-Link">
    <div class="colorbox__tint colorbox--colour--95"><span>-95</span></div>
    <div class="colorbox__tint colorbox--colour--90"><span>-90</span></div>
    <div class="colorbox__tint colorbox--colour--80"><span>-80</span></div>
    <div class="colorbox__tint colorbox--colour--70"><span>-70</span></div>
    <div class="colorbox__tint colorbox--colour--60"><span>-60</span></div>
    <div class="colorbox__tint colorbox--colour--50"><span>-50</span></div>
    <div class="colorbox__tint colorbox--colour--40"><span>-40</span></div>
    <div class="colorbox__tint colorbox--colour--30"><span>-30</span></div>
    <div class="colorbox__tint colorbox--colour--20"><span>-20</span></div>
    <div class="colorbox__tint colorbox--colour--10"><span>-10</span></div>
    <span class="colorbox__tint__name">Link</span>
    <div class="colorbox__tint colorbox--colour-90"><span>90</span></div>
    <div class="colorbox__tint colorbox--colour-80"><span>80</span></div>
    <div class="colorbox__tint colorbox--colour-70"><span>70</span></div>
    <div class="colorbox__tint colorbox--colour-60"><span>60</span></div>
    <div class="colorbox__tint colorbox--colour-50"><span>50</span></div>
    <div class="colorbox__tint colorbox--colour-40"><span>40</span></div>
    <div class="colorbox__tint colorbox--colour-30"><span>30</span></div>
    <div class="colorbox__tint colorbox--colour-20"><span>20</span></div>
    <div class="colorbox__tint colorbox--colour-10"><span>10</span></div>
    <div class="colorbox__tint colorbox--colour-5"><span>5</span></div>
  </div>

</div>

<hr>
<h2>Colours notification palette</h2>

<div class="palette palette--4">
  <div class="palette__color palette__color--error"></div>
  <div class="palette__color palette__color--success"></div>
  <div class="palette__color palette__color--warning"></div>
  <div class="palette__color palette__color--info"></div>
</div>

<hr>
<h2>Notification colour palette tints</h2>

<div class="colorbox-wrapper colorbox__4">
  <div class="colorbox colorbox__colour-Error">
    <div class="colorbox__tint colorbox--colour--95"><span>-95</span></div>
    <div class="colorbox__tint colorbox--colour--90"><span>-90</span></div>
    <div class="colorbox__tint colorbox--colour--80"><span>-80</span></div>
    <div class="colorbox__tint colorbox--colour--70"><span>-70</span></div>
    <div class="colorbox__tint colorbox--colour--60"><span>-60</span></div>
    <div class="colorbox__tint colorbox--colour--50"><span>-50</span></div>
    <div class="colorbox__tint colorbox--colour--40"><span>-40</span></div>
    <div class="colorbox__tint colorbox--colour--30"><span>-30</span></div>
    <div class="colorbox__tint colorbox--colour--20"><span>-20</span></div>
    <div class="colorbox__tint colorbox--colour--10"><span>-10</span></div>
    <span class="colorbox__tint__name">colour-Error</span>
    <div class="colorbox__tint colorbox--colour-90"><span>90</span></div>
    <div class="colorbox__tint colorbox--colour-80"><span>80</span></div>
    <div class="colorbox__tint colorbox--colour-70"><span>70</span></div>
    <div class="colorbox__tint colorbox--colour-60"><span>60</span></div>
    <div class="colorbox__tint colorbox--colour-50"><span>50</span></div>
    <div class="colorbox__tint colorbox--colour-40"><span>40</span></div>
    <div class="colorbox__tint colorbox--colour-30"><span>30</span></div>
    <div class="colorbox__tint colorbox--colour-20"><span>20</span></div>
    <div class="colorbox__tint colorbox--colour-10"><span>10</span></div>
    <div class="colorbox__tint colorbox--colour-5"><span>5</span></div>
  </div>

  <div class="colorbox colorbox__colour-Success">
    <div class="colorbox__tint colorbox--colour--95"><span>-95</span></div>
    <div class="colorbox__tint colorbox--colour--90"><span>-90</span></div>
    <div class="colorbox__tint colorbox--colour--80"><span>-80</span></div>
    <div class="colorbox__tint colorbox--colour--70"><span>-70</span></div>
    <div class="colorbox__tint colorbox--colour--60"><span>-60</span></div>
    <div class="colorbox__tint colorbox--colour--50"><span>-50</span></div>
    <div class="colorbox__tint colorbox--colour--40"><span>-40</span></div>
    <div class="colorbox__tint colorbox--colour--30"><span>-30</span></div>
    <div class="colorbox__tint colorbox--colour--20"><span>-20</span></div>
    <div class="colorbox__tint colorbox--colour--10"><span>-10</span></div>
    <span class="colorbox__tint__name">colour-Success</span>
    <div class="colorbox__tint colorbox--colour-90"><span>90</span></div>
    <div class="colorbox__tint colorbox--colour-80"><span>80</span></div>
    <div class="colorbox__tint colorbox--colour-70"><span>70</span></div>
    <div class="colorbox__tint colorbox--colour-60"><span>60</span></div>
    <div class="colorbox__tint colorbox--colour-50"><span>50</span></div>
    <div class="colorbox__tint colorbox--colour-40"><span>40</span></div>
    <div class="colorbox__tint colorbox--colour-30"><span>30</span></div>
    <div class="colorbox__tint colorbox--colour-20"><span>20</span></div>
    <div class="colorbox__tint colorbox--colour-10"><span>10</span></div>
    <div class="colorbox__tint colorbox--colour-5"><span>5</span></div>
  </div>

  <div class="colorbox colorbox__colour-Warning">
    <div class="colorbox__tint colorbox--colour--95"><span>-95</span></div>
    <div class="colorbox__tint colorbox--colour--90"><span>-90</span></div>
    <div class="colorbox__tint colorbox--colour--80"><span>-80</span></div>
    <div class="colorbox__tint colorbox--colour--70"><span>-70</span></div>
    <div class="colorbox__tint colorbox--colour--60"><span>-60</span></div>
    <div class="colorbox__tint colorbox--colour--50"><span>-50</span></div>
    <div class="colorbox__tint colorbox--colour--40"><span>-40</span></div>
    <div class="colorbox__tint colorbox--colour--30"><span>-30</span></div>
    <div class="colorbox__tint colorbox--colour--20"><span>-20</span></div>
    <div class="colorbox__tint colorbox--colour--10"><span>-10</span></div>
    <span class="colorbox__tint__name">colour-Warning</span>
    <div class="colorbox__tint colorbox--colour-90"><span>90</span></div>
    <div class="colorbox__tint colorbox--colour-80"><span>80</span></div>
    <div class="colorbox__tint colorbox--colour-70"><span>70</span></div>
    <div class="colorbox__tint colorbox--colour-60"><span>60</span></div>
    <div class="colorbox__tint colorbox--colour-50"><span>50</span></div>
    <div class="colorbox__tint colorbox--colour-40"><span>40</span></div>
    <div class="colorbox__tint colorbox--colour-30"><span>30</span></div>
    <div class="colorbox__tint colorbox--colour-20"><span>20</span></div>
    <div class="colorbox__tint colorbox--colour-10"><span>10</span></div>
    <div class="colorbox__tint colorbox--colour-5"><span>5</span></div>
  </div>

  <div class="colorbox colorbox__colour-Info">
    <div class="colorbox__tint colorbox--colour--95"><span>-95</span></div>
    <div class="colorbox__tint colorbox--colour--90"><span>-90</span></div>
    <div class="colorbox__tint colorbox--colour--80"><span>-80</span></div>
    <div class="colorbox__tint colorbox--colour--70"><span>-70</span></div>
    <div class="colorbox__tint colorbox--colour--60"><span>-60</span></div>
    <div class="colorbox__tint colorbox--colour--50"><span>-50</span></div>
    <div class="colorbox__tint colorbox--colour--40"><span>-40</span></div>
    <div class="colorbox__tint colorbox--colour--30"><span>-30</span></div>
    <div class="colorbox__tint colorbox--colour--20"><span>-20</span></div>
    <div class="colorbox__tint colorbox--colour--10"><span>-10</span></div>
    <span class="colorbox__tint__name">colour-Info</span>
    <div class="colorbox__tint colorbox--colour-90"><span>90</span></div>
    <div class="colorbox__tint colorbox--colour-80"><span>80</span></div>
    <div class="colorbox__tint colorbox--colour-70"><span>70</span></div>
    <div class="colorbox__tint colorbox--colour-60"><span>60</span></div>
    <div class="colorbox__tint colorbox--colour-50"><span>50</span></div>
    <div class="colorbox__tint colorbox--colour-40"><span>40</span></div>
    <div class="colorbox__tint colorbox--colour-30"><span>30</span></div>
    <div class="colorbox__tint colorbox--colour-20"><span>20</span></div>
    <div class="colorbox__tint colorbox--colour-10"><span>10</span></div>
    <div class="colorbox__tint colorbox--colour-5"><span>5</span></div>
  </div>
</div>