{% include '@hds/templates/extra/skip.twig' %}

{% include '@hds/01-components/release-status/release-status.twig' with {
    "status": "New",
    "modifier": "launch"
  }
%}

<div class="au-body">

  {% include '@hds/01-components/header/header.twig' %}
  {% include '@hds/01-components/sub-header/sub-header.twig' %}
  {% include '@hds/01-components/toolbar/toolbar.twig' %}

  <div class="container not-full-width">

    <div class="row">

      <div class="col-sm-8">
        <p>Your feedback comments are covered by our privacy policy.</p>

        <form class="au-form">

          {% if error %}
            <div class="au-page-alerts au-page-alerts--error">
              <h2 class="au-display-md">Please fix the following errors</h2>
              <ul>
                <li>{{checkboxes.label}} field is required.</li>
                <li>{{textArea.label}} field is required.</li>
                <li>{{textInput.label}} field is required.</li>
              </ul>
            </div>
          {% endif %}

          {% include '@hds/01-components/form/radios/radios.twig' %}

          {% include '@hds/01-components/form/checkboxes/checkboxes.twig' %}

          {% include '@hds/01-components/form/select/select.twig' %}

          {% include '@hds/01-components/form/text-area/text-area.twig' %}

          {% include '@hds/01-components/form/text/text.twig' %}

          <div class="au-form__item">
            {% include '@hds/01-components/form/button/button.twig' %}
          </div>

        </form>
      </div>

    </div>
  </div>
</div>

{% include '@hds/01-components/footer/footer.twig' %}

{% include '@hds/01-components/back-to-top/back-to-top.twig' %}
