@mixin opacity( $opacity ) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

// Mixins to apply 'unpublished' styles to any component
@mixin tag-unpublished_old {
  &::after {
    content: 'Unpublished';
    font-weight: normal;
    font-size: 0.7em;
    position: absolute;
    top: 0;
    right: 0;
    color: $colour-unpublished-foreground;
    border: 1px solid $colour-unpublished-foreground;
    padding: 0 2px;
    background: white;
  }
}

@mixin tag-unpublished {
  &::after {
    content: "\e9d1";
    font-weight: normal;
    font-size: 1.2em;
    position: absolute;
    top: 0;
    right: 4px;
    color: $colour-unpublished-foreground;
    font-family: FontAwesome; 
  }
}

@mixin background-unpublished {
  background: $colour-unpublished-background;
}
