// visually-hidden()
//
// Make an element visually hidden, but accessible to screen readers, etc.
// @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
//
// Style guide: sass.mixins.visually-hidden

.visually-hidden,
%visually-hidden {
  @include AU-sronly();
  position: absolute !important;
}

//
// Drupal selectors.
//

.element-invisible {
  @extend %visually-hidden;
}
