.ie8 {

  // Everything is bunched up, so give it some space.
  body {
    margin: 24px;
  }

  .page {

    // Combat the grid negative margins.
    div {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

    // Show the main nav.
    .au-main-nav,
    #block-superfish-1,
    #block-search-api-page-default-search {
      display: block;
      height: auto;
      position: relative;
    }

    // Hide elements that should be hidden.
    .skip-link,
    .element-invisible,
    #block-menu-menu-sub-menu .block__title,
    .mobile-toggle,
    .page-title__core .section-header,
    .au-main-nav__mobile-toggle,
    #block-search-api-page-default-search,
    .au-side-nav__toggle {
      display: none !important;
    }

    // Make the logo a reasonable size.
    .au-responsive-media-img {
      max-width: 400px !important;
      border: none !important;
      padding-top: 20px;
    }

    div, a, img {
      line-height: 1 !important;
      width: auto !important;
      height: auto !important;
    }
    img {
      visibility: visible !important;
      display: block !important;
      position: relative !important;
      width: auto !important;
      height: auto !important;
    }

    .image-wrapper {
      width: auto !important;
      height: auto !important;
      position: relative !important;
      .image {
        width: auto !important;
        height: auto !important;
        position: relative !important;
      }
    }

    // Make main nav look like a main nav :)
    #block-superfish-1 {
      padding-top: 20px;
      li {
        font-size: 20px;
        font-weight: bold;
      }
    }

    h1 {
      font-size: 36px !important;
      font-weight: bold !important;
    }

    .footer__logo img {
      //background-color: $colour-primary-blue;
      padding: 10px;
    }

    // Doesn't work in IE8 for some reason...
    #﻿﻿block-bean-share-this {
      padding-top: 30px;
    }
    .﻿field-label {
      font-weight: bold;
    }
  }

  &.js {
    .au-accordion--closed.au-accordion__body {
      height: auto;
      display: block;
    }
  }

  .health-toolbar {
    #health-share-menu {
      display: block;
    }
  }

}

// health alert global bar.
.health-alert-content {
  a {
    color: white;
  }
}