@charset "UTF-8";
/*! @gov.au/core v3.4.2 */
/**
 * AU-replace - Replace a string with a string
 * http://codepen.io/jakob-e/pen/doMoML
 *
 * @author @eriksen_dk <https://twitter.com/eriksen_dk>
 *
 * @param  {string} $string  - The haystack string to be manipulated
 * @param  {string} $search  - The needle to be replace
 * @param  {string} $replace - The replacement
 *
 * @return {string}          - The manipulated string with replaced values
 */
/**
 * AU-svguri - Generate an optimized SVG data-uri
 * https://codepen.io/tigt/post/optimizing-svgs-in-data-uris
 * http://codepen.io/jakob-e/pen/doMoML
 *
 * @author @eriksen_dk <https://twitter.com/eriksen_dk>
 *
 * @param  {string} $svg - The SVG to be converted
 *
 * @return {string}      - An optimized data-uri
 */
/**
 * AU-factorial - Returns the factorial of a non-negative integer.
 * https://github.com/terkel/mathsass
 *
 * @author Pascal Duez @pascalduez <http://pascalduez.me/>
 *
 * @param  {integer} $number - A non-negative integer.
 *
 * @return {integer}         - The factorial log
 */
/**
 * AU-pow - Returns base to the exponent power.
 * https://github.com/terkel/mathsass
 *
 * @author Pascal Duez @pascalduez <http://pascalduez.me/>
 *
 * @param  {integers} $base     - The base number
 * @param  {integers} $exponent - The exponent to which to raise base
 *
 * @return {integers}           - The result of the math
 */
/**
 * AU-color-luminance - Calculate color luminance
 *
 * https://github.com/voxpelli/sass-color-helpers/blob/master/stylesheets/color-helpers/_contrast.scss
 * Adapted from: https://github.com/LeaVerou/contrast-ratio/blob/gh-pages/color.js
 * Formula: http://www.w3.org/TR/2008/REC-WCAG20-20081211/#relativeluminancedef
 *
 * @author Pelle Wessman @voxpelli <http://kodfabrik.se/>
 *
 * @param  {string} $color - The color to calculate the luminance from
 *
 * @return {float}          - The luminance
 */
/**
 * AU-color-contrast - Get the contrast ratio of two colors and warn when it is below WCAG 2.0 AA standard 4.5:1
 *
 * https://github.com/voxpelli/sass-color-helpers/blob/master/stylesheets/color-helpers/_contrast.scss
 * Adapted from: https://github.com/LeaVerou/contrast-ratio/blob/gh-pages/color.js
 * Formula: http://www.w3.org/TR/2008/REC-WCAG20-20081211/#contrast-ratiodef
 *
 * @author Pelle Wessman @voxpelli <http://kodfabrik.se/>
 *
 * @param  {string}   $foreground - Color one
 * @param  {string}   $background - Color two
 * @param  {boolean}  $silent     - If the logs get printed in the terminal
 * @param  {boolean}  $rounded    - If the value is rounded or not
 *
 * @return {integer}              - The contrast ratio
 */
/**
 * AU-color-a11y - The function to find the nearest accessible color
 *
 * https://github.com/alex-page/sass-a11ycolor
 *
 * @author Alex Page @aalexpaage <http://alexpage.com.au>
 *
 * @param  {Color}           $toMakeA11y           - The color that is to be changed
 * @param  {Color}           $background           - The background color to compare against toMakeA11y for the contrast
 * @param  {'small'|'large'} $ratioKey   ['small'] - The keyword 'small' or 'large' to set the WCAG 2.1 contrast ration or 3.0 or 4.5
 * @param  {Number}          $steps      [0.1]     - The step size our function is searching for a new color in. The bigger the number the faster the process
 *                                                    the rougher the found color.
 *
 * @return {Color}                                 - Returns the nearest accessible color
 */
/**
 * AU-color-lowest-contrast - Find the lowest contrast color
 *
 * @param  {Colors}          $colors     - The color to find the lowest contrast
 * @param  {Color}           $background - The background color to compare the colors against
 *
 * @return {Color}                       - Returns the lowest contrast color
 */
/**
 * AU-space - Mixin for setting a properties value to snap to the grid, with a fallback for REM.
 *
 * @param  {string} $property - The css property to apply the spacing ( padding, margin )
 * @param  {number} $values   - The values of the property ( 0, 20px, 1unit, 5% )
 *
 * @return {number}           - The space in px and rems
 */
/**
 * AU-clearfix - Clearing floats
 */
/**
 * AU-media - Create media queries and wraps the @content code inside of it
 *
 * @param  {keywords} $breakpoint - Either one of the following keywords: xs, sm, md, lg
 *
 * @return {string}               - The code passed in via @content wrapped inside a media query
 */
/**
 * AU-sronly - Hide an element from the screen but not a screen reader
 */
/**
 * AU-outline - Create outline based on the theme the user is using.
 *
 * @param  {keywords} $theme - `dark` or default ( `light` )
 *
 * @return {string}          - The code
 */
/**
 * AU-focus - Add the outline to focus
 */
/**
 * AU-fontgrid Mixin for setting font-size and line-height that snaps to the grid.
 *
 * @param  {keywords} $fontsize-key   -  Either one of the following keywords: xs, sm, md, lg, xl, xxl, xxxl
 * @param  {keywords} $lineheight-key -  Either one of the following keywords: heading, nospace, default
 *
 * @return {string}                   - The code; fontsize in REM, with PX fallback, and unitless line-height which matches vertical grid
*/
/**
 * AU-pixelfallback enable pixel fallbacks
 */
/**
 * AU-media Breakpoints
 */
/**
 * AU-rem value used for REM calculation
 */
/**
 * AU-unit used for all type and grid calculations
 */
/**
 * AU-font stack
 * AU-font-monospace stack
 */
/**
 * AU-fontsize-map
 *
 * Predetermined pixel sizes from a 1.25 typescale rounded to the nearest $AU-unit (vertical grid)
 */
/**
 * AU-lineheight-map
 *
 * Predetermined lineheight mapped to keyword
 */
/**
 * AU-maxwidth for line lengths (the ‘measure’)
 */
/**
 * Colors light theme
 */
/**
 * Colors dark theme
 */
/**
 * Colors system messages
 */
/**
 * AU-border-radius styles
 */
.health-back-to-top {
  background-color: transparent;
  position: fixed;
  display: block;
  right: 16px;
  right: 1rem;
  bottom: -4px;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: -1;
  padding: 0;
  border: 0; }
  @media print {
    .health-back-to-top {
      display: none; } }
  .health-back-to-top .au-btn.au-btn--secondary {
    line-height: 1.2;
    font-size: 0.85rem;
    width: 64px;
    width: 4rem;
    padding: 4px 12px 8px 12px;
    padding: 0.25rem 0.75rem 0.5rem 0.75rem;
    background: #f1f1f2;
    border: none;
    color: #313131; }
    @media (min-width: 992px) {
      .health-back-to-top .au-btn.au-btn--secondary {
        width: 96px;
        width: 6rem;
        padding: 8px 16px 16px;
        padding: 0.5rem 1rem 1rem; } }
    .health-back-to-top .au-btn.au-btn--secondary i {
      width: 1.5em;
      height: 1.5em;
      margin-bottom: -5px;
      background: #313131; }
    .health-back-to-top .au-btn.au-btn--secondary:hover, .health-back-to-top .au-btn.au-btn--secondary:hover:not(:disabled) {
      background-color: #e5e5e5;
      color: #181818;
      border: none; }
      .health-back-to-top .au-btn.au-btn--secondary:hover i, .health-back-to-top .au-btn.au-btn--secondary:hover:not(:disabled) i {
        background: #181818; }
    .health-back-to-top .au-btn.au-btn--secondary span {
      display: block; }
  .health-back-to-top.isVisible {
    opacity: 0.8;
    filter: alpha(opacity=80);
    z-index: 9999;
    transition: all .4s ease-in; }
