.au-body {
  .au-callout {
    // If the callout is on a row, reset the margin so the keyline lines up.
    // eg .container > .row .au-callout > .col-sm-3 | .col-sm-9
    &.row {
      margin-left: 0;
      margin-right: 0;
      padding-left: 12px;
      padding-right: 12px;
    }
    background-color: $colour-lighter;
    border-left-color: $colour-complementary-cyan;
    // Colours.
    &--secondary {
      border-left-color: $colour-complementary-skyblue;
    }
    &--tertiary {
      border-left-color: $colour-primary-teal-light;
    }
    &--success {
      border-left-color: $AU-color-success;
    }

    // Simple variation
    &.au-callout--simple {
      background: transparent;
      border-left-width: 10px;
      padding: 1rem 1.5rem;
    }

    // @todo This is Drupal specific. Make it semantic.
    // Used for inline styles
    &.view-mode-inline {
      width: 100%;
      
      // On mobile, add a gap above the columns if they stack on top.
      div[class*=col-] + div[class*=col-]
      {
        margin-top: 12px;
        @include AU-media(sm) {
          margin-top: 0;
        }
      }
      div[class*=col-] + div[class*=col-xs-1],
      div[class*=col-] + div[class*=col-xs-2],
      div[class*=col-] + div[class*=col-xs-3],
      div[class*=col-] + div[class*=col-xs-4],
      div[class*=col-] + div[class*=col-xs-5],
      div[class*=col-] + div[class*=col-xs-6],
      div[class*=col-] + div[class*=col-xs-7],
      div[class*=col-] + div[class*=col-xs-8],
      div[class*=col-] + div[class*=col-xs-9],
      div[class*=col-] + div[class*=col-xs-10],
      div[class*=col-] + div[class*=col-xs-11]
      {
        margin-top: 0;
      }
    }
  }
}

// Constrain width of callout for content without local nav but not full width
// Only after md breakpoint
@include AU-media(md){
  .au-body {
    // @todo This is Drupal specific. Make it semantic.
    .main-content-full {
      .au-callout {
        &.view-mode-inline {
          max-width: 66.6666666667%; // based on content pane at col-sm-8
        }
      }
      // Looks like callout (via @extend)
      .field-name-field-link-external {
        max-width: 66.6666666667%; // based on content pane at col-sm-8
      }
    }
  }
}
