<div style="background: lightblue">
  <p>Content above</p>
</div>
<div class="{{modifier}}" style="background: lightpink">
  <p>Content</p>
</div>
<div style="background: lightgreen">
  <p>Content below</p>
</div>