<div class="row au-callout au-callout--secondary au-callout--grid-row ">
  <div class=" col-xs-3 col-md-2">
    {% include '@hds/01-components/image/image.twig' with {
      "image": {
        "link": false,
        "url": "https://placekitten.com/800/450",
        "width": 800,
        "height": 450,
        "ratio": 56.25,
        "modifier": "image--border"
      }
    }%}
  </div>
  <div class=" col-xs-9 col-md-10">
    <p class="au-display-md"><a href="#">Tyrannosaurus factsheet</a></p>
    <p>Tyrannosaurus is a genus of coelurosaurian theropod dinosaur. The species Tyrannosaurus rex (rex meaning
      "king" in Latin), often called T. rex or colloquially T-Rex, is one of the most well-represented of the large
      theropods.</p>
  </div>
</div>
