<div class="row au-callout au-callout--secondary au-callout--grid-row ">
  <div class=" col-xs-3 col-md-2">
    {{ render '@video--preview' }}
  </div>
  <div class=" col-xs-9 col-md-10">
    <p class="au-display-md"><a href="#">Tyrannosaurus video</a></p>
    <p>Tyrannosaurus is a genus of coelurosaurian theropod dinosaur. The species Tyrannosaurus rex (rex meaning
      "king" in Latin), often called T. rex or colloquially T-Rex, is one of the most well-represented of the large
      theropods.</p>
  </div>
</div>