<div class="health-metadata health-metadata--inline au-display-sm--text">
  <div class="health-field health-field--label-hidden">
    <div class="health-field__item">3 April 2019</div>
  </div>
  <div class="health-field health-field--label-hidden">
    <div class="health-field__item">Factsheet</div>
  </div>
</div>