<div class="health-search-result">
  <a href="#" class="health-search-result__link">
    <h2 class="au-display-md health-search-result__link-title">
      Tyrannosaurus Rex
    </h2>
    <br>
    <span class="health-search-result__link-path">
      Dinosaurs › Theropods
    </span>
  </a>
  <p class="health-search-result__summary">
    <span class="health-search-result__summary-date">
      16 July 2019
    </span>
    -
    Tyrannosaurus is a genus of coelurosaurian theropod dinosaur. The species Tyrannosaurus rex (rex meaning "king" in
    Latin), often called T. rex or colloquially T-Rex, is one of the most well-represented of the large theropods.</p>
  <div class="metadata metadata--inline text--minor">
    <p>Topics: Dinosaurs<br>Audience: General public</p>
  </div>
</div>