<p class="au-callout{{#if modifier}} au-callout--{{modifier}}{{/if}}">
  More than 20 almost-complete t rex skeletons have been found. The most perfect, nicknamed Sue, was unearthed in South Dakota, USA, 20 years ago.
</p>