<div class="au-callout{{#if modifier}} au-callout--{{modifier}}{{/if}}">
  <h2 class="au-display-md">This is our new website</h2>
  <p>While we are updating our content, some of the links will take you back to our old website.</p>
</div>