<div class="health-band{{#if modifier}} health-band--{{ modifier }}{{/if}} au-body au-body--dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h2>{{ title }}</h2>
            </div>
            <div class="col-sm-8">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <a href="tel:1800671811" class="au-display-lg au-display--inline">{{ number }}</a>
                <p>
                    {{ text }}
                </p>
            </div>
        </div>
    </div>
</div>