<div class="health-band health-band--secondary au-body au-body--dark">
    <div class="container">
        <div class="row">
            <h2 class="col-xs-12">Did you know?</h2>
        </div>
        <div class="row">
            <div class="col-sm-4 stat stat--no-trend">
                <div class="wrapper">
                    <p class="stat__value">94.14%</p>
                    <p class="stat__text">of people think dinosaurs are awesome</p>
                    <p class="stat__trend-value">13% increase in 2019</p>
                </div>
            </div>
            <div class="col-sm-4 stat">
                <div class="wrapper">
                    <p class="stat__value">100%</p>
                    <p class="stat__text">of dinosaurs are extinct</p>
                    <div class="stat__trend">
                        <i class="stat__trend-icon fa fa-arrow-down"></i>

                    </div>
                </div>
            </div>
            <div class="col-sm-4 stat">
                <div class="wrapper">
                    <p class="stat__value">$8.6 million</p>
                    <p class="stat__text">is spent every year on dinosaur containment</p>
                    <div class="stat__trend">
                        <i class="stat__trend-icon fa fa-arrow-up"></i>
                        <p class="stat__trend-value">25% decrease over 2017-19</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>Source: Australian Bureau of Dinosaurs</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a href="#" class="au-cta-link">More amazing dinosaur facts</a>
            </div>
        </div>
    </div>
</div>