// This file maps Health colours variables to variables used throughout the HDS
// It decouples the colours from their use and provides more control

// Body
$body-bg-colour--dark-tertiary: $colour-primary-blue;

// Brand/pillars
$brand-primary-colour: $colour-primary-blue;

// Buttons
$button-bg-colour--secondary: $colour-lighter;
$button-bg-colour--secondary-hover: $colour-light-dark;
$button-bg-colour--dark-hover: $colour-light-dark;
$button-border-colour--dark-hover: $colour-light-dark;

// Callouts
$callout-bg-colour: $colour-lighter;
$callout-border-colour: $colour-complementary-cyan;
$callout-border-colour--secondary: $colour-complementary-skyblue;
$callout-border-colour--tertiary: $colour-primary-teal-lighter-1;

// Compare
$compare-bg-colour: $colour-complementary-skyblue-lighter-2;

// Facets
$facet-bg-colour: $colour-lighter;

// Filter
$filter-bg-colour: $colour-lighter;

// Header
$header-border-colour: $colour-primary-blue;
$header-bg-colour--dark: $colour-primary-blue-darker-1;

// Hero
$hero-bg-colour: $colour-light;
$hero-bg-colour--dark: $colour-dark-hover;
$hero-bg-colour--content: $colour-dark-hover;

// In-page nav
$inpage-nav-border-colour: $colour-complementary-skyblue;

// Lists
$list-bg-colour--highlight: $colour-lightest;
$list-bg-colour--large: $colour-lighter;

// Main-nav dark variant
$main-nav-border-colour--dark: $colour-primary-blue-darker-1;
$main-nav-bg-colour--dark: $colour-primary-blue;
$main-nav-link-bg-colour--dark: $colour-primary-blue;
$main-nav-link-border-colour--dark: $colour-primary-blue;
$main-nav-link-bg-colour-active--dark: $colour-primary-blue-darker-1;
$main-nav-link-border-colour-active--dark: $colour-primary-blue-darker-1;
$main-nav-menu-bg-colour: $colour-primary-blue;

// Reference
$reference-bg-colour: $colour-lightest;
$reference-border-colour: $colour-light-darker;

// Search
$search-text-colour--path: $colour-path;
$search-text-colour--date: $colour-dark;

// Side-nav
$side-nav-link-bg-colour--active: $colour-lighter;
$side-nav-link-bg-colour--hover: $colour-lighter;

// Statistic
$stat-border-colour: $colour-light;

// Tabs
$tab-border-colour: $colour-light-darker;
$tab-border-colour--active: $colour-primary-blue-darker-1;

// Table
$table-bg-colour--header: $colour-lightest;

// Taskbar
$taskbar-bg-colour--hover: $colour-primary-blue-darker-1;

// Text
$text-colour--light: $AU-colordark-foreground-text;

// Tooltip
$tooltip-bg-colour: $colour-dark;

// =============================
// Moved to _colours-map-custom-props.scss as custom properties:
//
// Footer
// Gradients
// Cards
// Sub-header
// Main-nav (partial) // TODO the rest