// GOLD Design System default overrides
$AU-color-foreground-action: #006FB0; // override of default link colour WCAG 2.0 compliant on backgrounds up to $colour-light (#ECECEC)
$AU-color-foreground-action--active: darken($AU-color-foreground-action, 10%);
$AU-color-foreground-text: #313131;
$AU-colordark-foreground-action: #FFF;
$AU-colordark-foreground-action--active: darken($AU-colordark-foreground-action, 10%);
$AU-colordark-foreground-text: #FFF;
$AU-colordark-background: #000;

// HEALTH COLOURS
$colour-shadow: rgba(0, 0, 0, 0.2);
$colour-shadow-hover: rgba(0, 0, 0, 0.4);
$colour-bg-light: #fff;
$colour-Error-light: #ffe7ea;

// HEALTH VISUAL IDENTITY
// Primaries with variants
// $colour-primary-blue: #002058; direct from palette
$colour-primary-blue: #072e7e; // Redeclared web version of #002058
$colour-primary-blue-lighter-1: #005ab0;
$colour-primary-blue-lighter-2: #074cd9;
$colour-primary-blue-lighter-2-5: #034295;
$colour-primary-blue-lighter-3: #072e7e;
$colour-primary-blue-darker-1: #002058;
$colour-primary-blue-darker-2: #00153b;
$colour-primary-blue-very-pale: #e6f3ff;
$colour-primary-blue-very-pale-2: #bacbdb;

$colour-primary-teal-darker-2: #00535A;
$colour-primary-teal-darker-1: #006972;
$colour-primary-teal: #007680;
$colour-primary-teal-lighter-1: #0F7E87;
$colour-primary-teal-lighter-2: #10919c;

// Major colours/gradients WCAG 2.1 pass: https://abc.useallfive.com/?colors[]=FFFFFF,072E7E,005AB0,006972,0F7E87,0062A4,0075C5

// Complementaries with variants
$colour-complementary-skyblue-darker-1: #0062a4;
$colour-complementary-skyblue: #0077C8;
$colour-complementary-skyblue-lighter-1: #0075c5;
$colour-complementary-skyblue-lighter-2: #3291d3;

$colour-complementary-ruby: #910048;
$colour-complementary-ruby-dark: shade($colour-complementary-ruby, 10%);

$colour-complementary-lime: #B5BD00;
$colour-complementary-lime-dark: shade($colour-complementary-lime, 10%);

$colour-complementary-blue: #0057B8;
$colour-complementary-blue-dark: shade($colour-complementary-blue, 20%);
$colour-complementary-blue-bg: desaturate($colour-complementary-blue-dark, 30%); // for backgrounds

$colour-complementary-cyan: #0093B2;
$colour-complementary-cyan-dark: shade($colour-complementary-cyan, 10%);

// Accents
$colour-accent-red: #D50032;
$colour-accent-orange: #FFB500;

// Neutrals
$colour-black: #000000;
$colour-dark: #87888A; // core
$colour-darker: #626366;
$colour-darkest: #58585b;
$colour-dark-hover: #313131;
$colour-lightest: #f8f8f8;
$colour-lighter: #f1f1f2;
$colour-light: #ececec;
$colour-light-dark: #e5e5e5;
$colour-light-darker: #cdcdcd;
$colour-white: #ffffff;

// Health pillar colours
// These get generated automatically for aligned sites in _health-brand.scss
$brand-colour-1: #27b3bb;
$brand-colour-2: #0091d5;
$brand-colour-3: #1a8a96;
$brand-colour-4: #004181;

// TYPOGRAPHY ================================
// Colours
$colour-minorText: #414141;

// Service delivery
$alpha-background: #c22f73;
$alpha-text: #FFF;
$beta-background: #d34600;
$beta-text: #FFF;
$live-background: #158839; // WCAG compliant with #FFF

// Unpublished
$colour-unpublished-foreground: #e42622; //#ff6562;
$colour-unpublished-background: #ffe5e5;

// Statistics
$colour-positive: #a5ffa5;
$colour-negative: #ffaaaa;
$colour-path: #006621;