// --------------------------
// Map SCSS colour variables to CSS custom properties
// for colours that can be changed across products
// This permits much easier overrides (doesn't require full SCSS redeclaration)
// and supports client-side use
// --------------------------

// Add properties as --name: #{$scss-variable};
:root {
    --primary-gradient-bg--start: #{$colour-primary-blue};
    --primary-gradient-bg--end: #{$colour-primary-blue-lighter-1};
    --secondary-gradient-bg--start: #{$colour-primary-teal-darker-1};
    --secondary-gradient-bg--end: #{$colour-primary-teal-lighter-1};
    --tertiary-gradient-bg--start: #{$colour-complementary-skyblue-darker-1};
    --tertiary-gradient-bg--end: #{$colour-complementary-skyblue-lighter-1};
    --neutral-bg: #{$colour-lightest};
    --neutral-bg--darker: #{$colour-light};
    --footer-gradient-bg--start: #{$colour-dark-hover};
    --footer-gradient-bg--end: #{$colour-darkest};
    --footer-border: #{$colour-dark};
    --subheader-gradient-bg--start: #{$colour-primary-blue};
    --subheader-gradient-bg--end: #{$colour-primary-blue-lighter-1};
    --subheader-gradient-content-bg--start: #{$colour-primary-blue};
    --subheader-gradient-content-bg--end: #{$colour-primary-blue-lighter-1};
    --main-nav-gradient-bg--start: #{$colour-primary-blue};
    --main-nav-gradient-bg--end: #{$colour-primary-blue-lighter-1};
    --main-nav-border: #{$colour-primary-blue};
    --card-bg: #{$colour-white};
    --card-text: #{$AU-color-foreground-text};
    --card-text--primary: #{$AU-colordark-foreground-text};
    --card-text--secondary: #{$AU-colordark-foreground-text};
    --card-text--tertiary: #{$AU-colordark-foreground-text};
    --card-text--neutral: #{$AU-color-foreground-text};
    --card-highlight-border: #{$colour-complementary-skyblue-lighter-1};
    --card-clickable-icon: #{$colour-black};
    --card-clickable-icon--primary: #{$colour-white};
    --card-clickable-icon--secondary: #{$colour-white};
    --card-clickable-icon--tertiary: #{$colour-white};
    --card-clickable-icon--neutral: #{$colour-black};
    --card-text-minor: #{$colour-minorText};
    --card-text-minor--primary: #{$colour-white};
    --card-text-minor--secondary: #{$colour-white};
    --card-text-minor--tertiary: #{$colour-white};
    --card-text-minor--neutral: #{$colour-minorText};
}

// TODO Custom properties to add 
// button-bg--primary
// button-bg--primary--hover
// button-text--primary
// button-bg--secondary
// button-bg--secondary--hover
// button-text--secondary
// callout-highlight--primary
// callout-highlight--secondary
// callout-highlight--tertiary
// callout-highlight--quaternary
// primary-nav--keyline

// Output CSS custom properties
// Commented out given direct mapping above

// #{$colours: (neutral-bg: #{$colour-lightest)}; // Example mapping
// :root {

//     @each #{$key_name,
//     #{$value in #{$colours {
//         --#{#{$key_name}: #{#{$value}};
//     }
// }