// These variable must exist in the @Gold DS
// Overide as required

$AU-grid-12-gutter-width: 36px; // Orig 24px is too tight, particularly on mobile

$AU-fontsize-map: (xs: 14,
    sm: 16,
    sm2: 18,
    md: 20,
    lg: 24,
    xl: 32,
    xxl: 46,
    xxxl: 52);

// Main nav
$AU-main-nav-breakpoint: md;
$AU-main-nav-z-index: 600;
$AU-main-nav-width: 80vw;