// AU vars for reference
// $AU-media-xs: 576px !default; // media query breakpoints
// $AU-media-sm: 768px !default;
// $AU-media-md: 992px !default;
// $AU-media-lg: 1200px !default;

// $AU-fontsize-map: (
// 	xs:   14,
// 	sm:   16,
// 	md:   20,
// 	lg:   24,
// 	xl:   32,
// 	xxl:  40,
// 	xxxl: 48
// ) !default;

// Font faces, stacks and sizes.
$fontawesome: "FontAwesome";

// Main nav
$AU-main-nav-breakpoint: sm;
$AU-main-nav-z-index: 600;

// Borders
$AU-color-foreground-border: #ccc; // Apparently this is not accessible...
$health-borderize: 3px solid $AU-color-foreground-border;
$health-borderize--very-thin: 1px solid $AU-color-foreground-border;
$health-borderize--thin: 2px solid $AU-color-foreground-border;
$health-borderize--fat: 6px solid $AU-color-foreground-border;
$health-borderize--tertiary: 3px solid $colour-complementary-skyblue;
$health-borderize--tertiary-very-thin: 1px solid $colour-complementary-skyblue;

// Taskbar
$minHeight-Taskbar: 200px !default;

// Box shadow
$card-shadow: 0px 0.125em 0.375em $colour-shadow;
$card-shadow--hover: 0px 0.125em 0.375em $colour-shadow-hover;
$border-radius: 6px;

// Sub-header (for campaigns)
$subheader-minheight--desktop: 500px;

// TODO
// - transitions/animations
// - opacities
// - borders 