// AU vars for reference
// min-width: breakpoint
// $AU-media-xs: 0;
// $AU-media-sm: 576px; // media query breakpoints
// $AU-media-md: 768px;
// $AU-media-lg: 992px;
// $AU-media-xl: 1200px;

// Breakpoint labels.
$breakpoint-sizes: xs,
sm,
md,
lg;

$AU-media-xs: 0;
$AU-media-sm: 576px;
$AU-media-md: 768px;
$AU-media-lg: 992px;
$AU-media-xl: 1200px;
$AU-media-xxl: 1441px; // Added for Health to accommodate most used desktop resolution

// Most popular desktop resolutions:
// 1. 1920x1080
// 2. 1440x900
// 3. 1280x720
// 4. 1366x768

// $AU-fontsize-map: (
// 	xs:   14,
// 	sm:   16,
// 	md:   20,
// 	lg:   24,
// 	xl:   32,
// 	xxl:  40,
// 	xxxl: 48
// ) !default;

// Font faces, stacks and sizes.
$fontawesome: "FontAwesome";

// Borders
$AU-color-foreground-border: #ccc; // Apparently this is not accessible...
$health-borderize: 3px solid $AU-color-foreground-border;
$health-borderize--very-thin: 1px solid $AU-color-foreground-border;
$health-borderize--thin: 2px solid $AU-color-foreground-border;
$health-borderize--fat: 6px solid $AU-color-foreground-border;
$health-borderize--tertiary: 3px solid $colour-complementary-skyblue;
$health-borderize--tertiary-very-thin: 1px solid $colour-complementary-skyblue;

// Taskbar
$minHeight-Taskbar: 200px !default;

// Box shadow
$card-shadow: 0px 0.125em 0.375em $colour-shadow;
$card-shadow--hover: 0px 0.125em 0.375em $colour-shadow-hover;
$border-radius: 6px;

// Sub-header (for campaigns)
$subheader-minheight--desktop: 500px;

// Component spacing
$component-padding: 3rem;
$component-padding--mobile: $component-padding/2;
$component-margin: 3rem;
$component-margin--mobile: $component-margin/2;

// Hero
$hero-content-width--md: 60%;
$hero-content-width--lg: 60%;
$hero-image-width--md: 100%;
$hero-image-width--lg: 50%;
$hero-image-focus: right; // Which region of the image to show when resizing: top, bottom, left, right, center
$hero-minheight--md: 400px;
$hero-minheight--lg: 500px;
$hero-overlap-top: 75px; // Amount to nudge mobile hero content over image