{% include '@hds/templates/extra/skip.twig' %}

{% include '@hds/01-components/release-status/release-status.twig' with {
    "status": "New",
    "modifier": "launch"
  }
%}

<div class="au-body">
  {% include '@hds/01-components/header/header.twig' %}
  {% include '@hds/01-components/sub-header/sub-header.twig' %}
  {% include '@hds/01-components/toolbar/toolbar.twig' %}

  <div class="container-fluid full-width">
    <div class="row standard-gap">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            {% include '@hds/01-components/callout/callout--simple.twig' %}
          </div>
        </div>
      </div>
      {% include '@hds/01-components/band/band--cards-call-to-action.twig' %}
      {% include '@hds/01-components/band/band--cards-image.twig' %}
      {% include '@hds/01-components/band/band--featured.twig' %}
      {% include '@hds/01-components/band/band--cards-audience.twig' %}
      {% include '@hds/01-components/band/band--hotline.twig' with {
          "modifier": "primary",
          "title": "Dinosaur escape hotline",
          "number": "1800 671 811",
          "text": "Call us on 1800 671 811 if you spot a dinosaur on the loose."
        }
      %}
      {% include '@hds/01-components/band/band--cards-resources.twig' %}
      {% include '@hds/01-components/band/band--statistics.twig' %}
      {% include '@hds/01-components/band/band--cards-image-vertical.twig' %}
      {% include '@hds/01-components/band/band--video-listing.twig' %}
    </div>
  </div>

  {% include '@hds/templates/extra/something-wrong.twig' %}

</div>

{% include '@hds/01-components/footer/footer.twig' %}

{% include '@hds/01-components/back-to-top/back-to-top.twig' %}
