<div class="health-recommendation{{#if modifier}} health-recommendation--{{modifier}}{{/if}} au-callout">
  <p><strong>Recommendation</strong></p>
  <ul class="au-tags">
    <li class="health-recommendation__grade">{{name}}</li>
  </ul>
  <p>Keep careful records of the fossils you find. Measure, draw, and take pictures of the fossils. Use this
    information later, when you work with the fossils in the laboratories.</p>
</div>
