<footer class="au-footer au-footer--dark au-body au-body--dark" role="contentinfo">
  <div class="container">
    <nav class="au-footer__navigation row" aria-label="footer">
      <div class="col-sm-6 col-md-3 au-footer__navigation-section">
        <h3>About Dinosaurs</h3>
        <ul class="au-link-list">
          <li><a href="#">About us</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Corporate reporting</a></li>
          <li><a href="#">Portfolio agencies</a></li>
          <li><a href="#">Contact us</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3 au-footer__navigation-section">
        <h3>Using our websites</h3>
        <ul class="au-link-list">
          <li><a href="#">About our website</a></li>
          <li><a href="#">Accessibility</a></li>
          <li><a href="#">Copyright</a></li>
          <li><a href="#">Disclaimer</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Social media</a></li>
          <li><a href="#">RSS feed</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3 au-footer__navigation-section" >
        <h3>Follow us</h3>
        <ul class="au-link-list">
          <li><a href="#">Media centre</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">LinkedIn</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Youtube</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3 au-footer__navigation-section">
        <h3>Help us improve</h3>
        <p>We are always looking for ways to improve our website.</p>
        <a href="#" class="au-btn au-btn--secondary au-btn--dark standard-gap">Provide feedback</a>
      </div>
    </nav>
    <div class="au-footer__end">
      <div class="row">
        <div class="col-xs-12">
          <p><small>© Commonwealth of Australia</small></p>
        </div>
      </div>
    </div>
  </div>
</footer>