<div class="health-figure health-figure--border">

  <p class="au-display-sm">Restoration showing scaly skin with sparse feathering, and lipped jaws
  </p>

  <figure role="group" class="au-accordion au-accordion--small">

    <a href="{{ path '/images/trex.jpg' }}" data-lightbox="fancybox" class="health-figure__image-link" aria-label="Zoom in">
      <span class="health-figure__image-link__icon svg-inline--fa fa-2x">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M304 192v32c0 6.6-5.4 12-12 12h-56v56c0 6.6-5.4 12-12 12h-32c-6.6 0-12-5.4-12-12v-56h-56c-6.6 0-12-5.4-12-12v-32c0-6.6 5.4-12 12-12h56v-56c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v56h56c6.6 0 12 5.4 12 12zm201 284.7L476.7 505c-9.4 9.4-24.6 9.4-33.9 0L343 405.3c-4.5-4.5-7-10.6-7-17V372c-35.3 27.6-79.7 44-128 44C93.1 416 0 322.9 0 208S93.1 0 208 0s208 93.1 208 208c0 48.3-16.4 92.7-44 128h16.3c6.4 0 12.5 2.5 17 7l99.7 99.7c9.3 9.4 9.3 24.6 0 34zM344 208c0-75.2-60.8-136-136-136S72 132.8 72 208s60.8 136 136 136 136-60.8 136-136z"></path></svg>
      </span>
      <img src="{{ path '/images/trex.jpg' }}"/>
    </a>
    <div class="text--minor standard-gap">
      <p>
        Source: <a href="https://en.wikipedia.org/wiki/Tyrannosaurus#/media/File:Tyrannosaurus-rex-Profile-steveoc86.png">Wikipedia</a>
      </p>
    </div>

    <a href="#figcaption"
       class="standard-gap au-accordion__title au-accordion--closed js-au-accordion"
       aria-controls="figcaption" aria-expanded="false"
       onclick="return AU.accordion.Toggle( this )">
      Show description of image
    </a>

    <figcaption class="au-accordion__body au-accordion--closed" id="figcaption">
      <div class="au-accordion__body-wrapper">
        <p>The largest known Tyrannosaurus rex skull measures up to 1.52 meters (5 ft) in length. Large fenestrae
          (openings) in the skull reduced weight, as in all carnivorous theropods. In other respects Tyrannosaurus's
          skull was significantly different from those of large non-tyrannosaurid theropods. It was extremely wide at
          the rear but had a narrow snout, allowing unusually good binocular vision.</p>
      </div>
    </figcaption>

  </figure>

</div>