<div class="health-figure health-figure--border">

  <p class="au-display-sm">Figure 1: Title</p>

  <figure role="group" class="au-accordion au-accordion--small">
    <a href="../../images/figure.jpg" data-lightbox="fancybox" class="health-figure__image-link" aria-label="Zoom in">
      <img src="../../images/figure.jpg">
    </a>
    <div class="text--minor standard-gap">
      <p>Duis lacinia sed mi ornare vulputate. Nam dictum eros at orci finibus, quis porttitor ante viverra. Proin et
        posuere urna, ut placerat nulla. Nam iaculis commodo nulla, at eleifend urna rutrum at. Mauris id aliquet nibh,
        et porta quam. Cras iaculis lorem eget faucibus consectetur. Ut nec scelerisque tortor. Pellentesque consectetur
        massa sapien, non mattis justo hendrerit a. Nunc pulvinar nibh ut lectus lacinia pharetra.</p>
    </div>

    <a href="#figcaption"
       class="standard-gap au-accordion__title au-accordion--closed js-au-accordion"
       aria-controls="figcaption" aria-expanded="false"
       onclick="return AU.accordion.Toggle( this )">
      Show description of image
    </a>

    <figcaption class="au-accordion__body au-accordion--closed" id="figcaption">
      <div class="au-accordion__body-wrapper">
        <p>Duis lacinia sed mi ornare vulputate. Nam dictum eros at orci finibus, quis porttitor ante viverra. Proin et
          posuere urna, ut placerat nulla. Nam iaculis commodo nulla, at eleifend urna rutrum at. Mauris id aliquet nibh,
          et porta quam. Cras iaculis lorem eget faucibus consectetur. Ut nec scelerisque tortor. Pellentesque consectetur
          massa sapien, non mattis justo hendrerit a. Nunc pulvinar nibh ut lectus lacinia pharetra.</p>
      </div>
    </figcaption>

  </figure>

</div>