<div class="au-form__item">
  <label for="email">
    {{ textInput.label }}
    {% include '@hds/01-components/form/label-mandatory/label-mandatory.twig' %}
  </label>
  <div class="au-form__item-description">
    Health will not share this email. It will only be used to contact you regarding your feedback.
  </div>
  <input class="au-text-input au-text-input--block{% if error %} error{% endif %}" type="email" id="email" name="email">
</div>
