<div class="health-facet">
  <h2 class="au-display-sm">Audience</h2>
  <div id="interested-in" class="form-checkboxes">
    <div class="au-control-input au-control-input--compact au-control-input--block">
      <input type="checkbox" id="interested-in-1"
             name="submitted[is_this_feedback_for]"
             value="Dinosaurs"
             class="au-control-input__input"/>
      <label class="au-control-input__text" for="interested-in-1">
        General public
      </label>
    </div>

    <div class="au-control-input au-control-input--compact au-control-input--block">
      <input type="checkbox" id="interested-in-2"
             name="submitted[is_this_feedback_for]"
             value="Birds"
             class="au-control-input__input"/>
      <label class="au-control-input__text" for="interested-in-2">
        Health professional
      </label>
    </div>

  </div>
</div>