@media print {
  // Hide back to top.
  #backtotop {
    display: none;
  }
  // Hide workbench block.
  .au-workbench {
    display: none;
  }
  // Hide contextual links.
  div.contextual-links-region {
    display: none;
  }
  // Hide readspeaker.
  #readspeaker {
    display: none;
  }
  // Table.
  table {
    td,
    th,
    thead {
      border-color: #000 !important;
      background: #fff !important;
    }
  }

  // Links.
  .page {
    a:after {
      display: none;
    }
  }
  // Title section.
  .page-title__core {
    .section-header {
      display: none;
    }
  }
  .page-title__supp {
    display: none;
  }
}
