<article{% block attributes %} class="health-card health-card--shadow"{% endblock %}>
  <div class="wrapper">
    <div class="health-card__image health-card__image--full-width image--link">
      <a href="#">
        {% block image %}
          {% include '@hds/01-components/image/image.twig' with {
            "image": {
              "link": false,
              "url": "http://placeimg.com/800/450/animals",
              "width": 800,
              "height": 450,
              "ratio": 56.25
            }
          } %}
        {% endblock %}
      </a>
    </div>
    <h3 class="health-card__title au-display-md">
      <a href="#">{{ title }}</a>
    </h3>
    <footer class="metadata metadata--inline">
      {{ "now"|date("d M Y") }}
    </footer>
  </div>
</article>
