<div class="health-card health-card--shadow {{class}}">
  {{! <div class="health-card__header">
    <p>Header</p>
  </div> }}
  <div class="health-card__image">
    <img src="https://picsum.photos/800/450" />
  </div>
  <div class="health-card__body">
    <h2 class="health-card__title">
      {{title}}
    </h2>
    <div class="health-card__text">
      <p>{{render "@link--call-to-action-list"}}</p>
    </div>
  </div>

</div>