<div class=" health-card health-card--light">
  <div class="health-card__image health-card__image--full-width">
    {{ render '@image' }}
  </div>
  <h3 id="ageing-and-aged-care">Tyrannosaurus</h3>
  <div class="au-display-md--text standard-gap">
    <p>Tyrannosaurus is a genus of coelurosaurian theropod dinosaur. The species Tyrannosaurus rex (rex meaning "king"
      in Latin), often called T. rex or colloquially T-Rex, is one of the most well-represented of the large theropods.
    </p>
  </div>
  <div class="au-cta-link">
    <a href="#">Learn more</a>
  </div>
</div>