<a class="
health-card
health-card--shadow
health-card--top-highlight
{{ colour }}
" href="#">
  <h2 class="health-card__title au-display-md au-display--heavy">
    {{title}}
  </h2>
  <p class="health-card__text">
    {{ content }}
  </p>

</a>