<div class="au-card au-body au-card--shadow au-card--clickable au-card--fullimg">
    {{ render '@image' }}
    <div class="au-card__inner">
        <h3 class="au-card__title"><a class="au-card--clickable__link" href="#">{{ title }}</a></h3>
    </div>
</div>

