<div class="health-card health-card--resource">
  <div class="row">
    <div class="col-xs-3">
      <div class="image--border image--link">
        <a href="#">
          <img src="{{ path "/images/real_tall.jpg" }}">
        </a>
      </div>
    </div>
    <div class="col-xs-9">
      <h3 class="au-display-md">
        <a href="#">{{title}}</a>
      </h3>
      <div class="metadata metadata--inline au-display-sm--text">
        <div class="health-field__item">{{date}}</div>
        <div class="health-field__item">{{type}}</div>
      </div>
    </div>
  </div>
</div>