<div class="au-form__item">
  <label for="favourite">
    {{select.label}}
    {{> @label-mandatory }}
  </label>
  <select class="au-select{{#if error}} error{{/if}}" id="favourite">
    <option>Dinosaurs</option>
    <option>Birds</option>
    <option>Mammals</option>
  </select>
</div>