<section class="au-accordion{{# if modifier }} {{ modifier }}{{/ if }}">
    <button class="au-accordion__title js-au-accordion au-accordion--closed" aria-controls="accordion-1-1"
    aria-expanded="false" onclick="return AU.accordion.Toggle( this )">
    {{ accordion.title }}
    </button>

    <div class="au-accordion__body au-accordion--closed" id="accordion-1-1">
    <div class="au-accordion__body-wrapper">
        {{{ accordion.content }}}
    </div>
    </div>
</section>