<div class="health-table__responsive">
  <table class="health-table{{#if modifier}}{{modifier}}{{/if}}">
    <caption><p class="au-display-sm">Comparison of dinosaur sizes</p></caption>
    <tbody>
    <tr>
      <th>Dinosaur</th>
      <th>Weight</th>
      <th>Length</th>
    </tr>
    <tr>
      <td>Spinosaurus
        <sup class="health-footnotes__links">
          [<span class="health-footnotes__link" title="Sizes are given with a range, where possible, of estimates that have not been contradicted by more recent studies">1</span>]
        </sup>
      </td>
      <td>21 tonnes</td>
      <td>18 meters</td>
    </tr>
    <tr>
      <td>Tyrannosaurus rex</td>
      <td>18 tonnes</td>
      <td>13 meters</td>
    </tr>
    <tr>
      <td>Carcharodontosaurus</td>
      <td>15 tonnes</td>
      <td>14 meters</td>
    </tr>
    <tr>
      <td>Giganotosaurus</td>
      <td>14 tonnes</td>
      <td>14 meters</td>
    </tr>
    <tr>
      <td>Acrocanthosaurus
        <sup class="health-footnotes__links">
          [<span class="health-footnotes__link" title="Sauropodomorph size is difficult to estimate given their usually fragmentary state of preservation">2</span>]
        </sup>
      </td>
      <td>7 tonnes</td>
      <td>11 meters</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="3">
        <ul class="health-footnotes list--remove text--minor">
          <li class="row">
            <span class="col-xs-1">1</span>
            <span class="col-xs-11">One study of Tyrannosaurus specimens with tooth marks in the bones attributable to the same genus was presented as evidence of cannibalism.</span>
          </li>
          <li class="row">
            <span class="col-xs-1">2</span>
            <span class="col-xs-11">Evidence of intraspecific attack were found by Joseph Peterson and his colleagues in the juvenile Tyrannosaurus nicknamed Jane</span>
          </li>
        </ul>
      </td>
    </tr>
    </tfoot>
  </table>
</div>