// TODO - ref https://design.gs.com/components/tag#types

// Add modifier for au-tags
.au-body {

  .au-tags {

    margin: 0;
    padding: 0;
    list-style: none;

    // No link tag
    >li {
      color: $AU-color-foreground-text;
      border: 1px solid $AU-color-foreground-text;
      border-radius: 4px;
      @include AU-space(padding, 0 0.5rem);
      display: inline-block;
      font-size: 1rem;
      line-height: 1.5;

      &:has(a) {
        border: 1px solid var(--tag-link-border);
        background: var(--tag-link-bg);
      }

      // Linked tag
      a {
        text-decoration: none;
        color: var(--tag-link-text);

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &.au-tags--inline {
      display: inline;

      >li {
        @include AU-space('margin', 0unit .25unit .5unit 0unit);
      }
    }
  }

}