/* DTA card overrides */
$card-border-colour: #4ebdcc;

.au-card {

    &.au-card--fullimg {
        position: relative;
        height: 100%;
        border-bottom: 6px solid $card-border-colour;

        .au-card__inner {
            width: 85%;
            height: 50%;
            min-height: 80px;
            position: absolute;
            border-radius: 0px 6px 0px 0px;
            background: rgba(255, 255, 255, 0.9);
            bottom: 0px;
        }

        .au-card__title {
            @include health-fontgrid('xl', 'heading');
            @include AU-media(sm){
                @include health-fontgrid('md', 'heading');
            }
            a {
                text-decoration: none;
                color: #000;
            }
        }

        // Use .au-card__image when available
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        };
    }
}