//--------------------------------------------------------------
// Main nav
//--------------------------------------------------------------

.au-main-nav {
  border-bottom-color: $main-nav-border-colour;
  &.au-main-nav--dark {
    border-bottom-color: $main-nav-border-colour--dark;
    background-color: $main-nav-bg-colour--dark;
    background: $main-nav-bg-gradient--dark;
    .active a {
      border-color: $main-nav-link-border-colour-active--dark;
      background: $main-nav-link-bg-colour-active--dark;
    }
    a {
      border-color: $main-nav-link-border-colour--dark;
      &:hover, &:focus {
        background: $main-nav-link-bg-colour--dark;
      }
    }
    .au-main-nav__menu {
      background-color: $main-nav-menu-bg-colour;
      @include AU-media('sm') {
        background: none;
      }
    }
    .au-main-nav__toggle {
      color: $AU-colordark-foreground-text;
      font-weight: bold;
      font-size: 1.25rem;
      @include AU-space(padding, .5unit 0);
      &:hover, &:focus {
        background-color: transparent;
      }
      &:before {
        content: ""
      }
      i {
        font-size: 1.25rem;
      }

      &--search {
        float: right;
        @include AU-media($AU-main-nav-breakpoint) {
          display: none;
        }
        &__open {
          display: none;
        }
      }
    }

  }

  a {
    @include AU-media($AU-main-nav-breakpoint) {
      font-weight: bold;
    }
    color: $AU-color-foreground-text;
  }

  .au-link-list {
    > li {

      &.active, &.active-trail {
        a {
          font-weight: bold;
          border-bottom-color: #fff;
          &:hover, &:focus {
            border-bottom-color: #fff;
          }
          @include AU-media($AU-main-nav-breakpoint) {
            @include AU-space(padding, 1unit);
          }

        }
      }

      &.au-main-nav--mobile-only {
        @include AU-media($AU-main-nav-breakpoint) {
          display: none;
        }
      }
    }
  }

  @media print {
    display: none;
  }
}

// Remove duplicate hamburger menu icon.
.au-main-nav__toggle.au-main-nav__toggle--open:before,
.au-main-nav__toggle.au-main-nav__toggle--close:before {
  content: "";
}

.au-main-nav__toggle--search {
  float: right;
}

.au-main-nav__toggle--search__open.svg-inline--fa {
  display: none;
}
