//--------------------------------------------------------------
// Main nav
//--------------------------------------------------------------

.au-main-nav {
  &.au-main-nav--dark {
    border-bottom-color: $colour-primary-blue-darker;
    background-color: $colour-primary-blue;
    background: linear-gradient(to right, $colour-primary-blue, $colour-primary-blue-gradient);
    .active a {
      border-color: $colour-primary-blue-darker;
      background: $colour-primary-blue-darker;
    }
    a {
      border-color: $colour-primary-blue;
      &:hover, &:focus {
        background: $colour-primary-blue;
      }
    }
    .au-main-nav__menu {
      background-color: $colour-primary-blue;
      @include AU-media('sm') {
        background: none;
      }
    }
    .au-main-nav__toggle {
      color: $AU-colordark-foreground-text;
      font-weight: bold;
      font-size: 1.25rem;
      @include AU-space(padding, .5unit 0);
      &:hover, &:focus {
        background-color: transparent;
      }
      &:before {
        content: ""
      }
      i {
        font-size: 1.25rem;
      }

      &--search {
        float: right;
        @include AU-media($AU-main-nav-breakpoint) {
          display: none;
        }
        &__open {
          display: none;
        }
      }
    }

  }
  
  a {
    @include AU-media($AU-main-nav-breakpoint) {
      font-weight: bold;
    }
    color: $AU-color-foreground-text;
  }

  .au-link-list {
    > li {

      &.active, &.active-trail {
        a {
          font-weight: bold;
          border-bottom-color: #fff;
          &:hover, &:focus {
            border-bottom-color: #fff;
          }
          @include AU-media($AU-main-nav-breakpoint) {
            @include AU-space(padding, 1unit);
          }

        }
      }

      &.au-main-nav--mobile-only {
        @include AU-media($AU-main-nav-breakpoint) {
          display: none;
        }
      }
    }
  }

  @media print {
    display: none;
  }
}
