.au-body {
  .au-callout {
    // If the callout is on a row, reset the margin so the keyline lines up.
    // eg .container > .row .au-callout > .col-sm-3 | .col-sm-9
    &.row {
      margin-left: 0;
      margin-right: 0;
      padding-left: 12px;
      padding-right: 12px;
    }
    background-color: $callout-bg-colour;
    border-left-color: $callout-border-colour;
    // Colours.
    &--secondary {
      border-left-color: $callout-border-colour--secondary;
    }
    &--tertiary {
      border-left-color: $callout-border-colour--tertiary;
    }
    &--success {
      border-left-color: $AU-color-success;
    }

    // Simple variation
    &.au-callout--simple {
      background: transparent;
      border-left-width: 10px;
      padding: 1rem 1.5rem;
    }
  }
}
