// Button.
.au-btn,
a.au-btn  {

  // Convert tertiary button to look like a link.
  &--tertiary {
    padding: 0;
  }

  // Large button.
  &.au-btn--large {
    font-size: 1.3em;
    font-weight: 700;
  }

  // Dark button
  &.au-btn--dark {
    &:hover:not(:disabled) {
      background-color: $colour-light-dark;
      border-color: $colour-light-dark;
    }
  }
}