.au-body {
  // SVG images.
  fill: $AU-color-foreground-text;

  // BACKGROUND //
  &.au-body--dark {
    background: $AU-colordark-background;

    &-tertiary {
      background: $body-bg-colour--dark-tertiary;
    }
  }

  //// SVG images ////
  &.au-body--dark {
    fill: $AU-colordark-foreground-text;
  }

  // Minor text.
  .text--minor,
  %minor-text {
    color: $colour-minorText;
    font-size: 0.8em;
  }

  // Right align text.
  .text--align-right {
    text-align: right;
  }

  .text--align-center {
    text-align: center;
  }

  // Introduction text.
  .au-introduction {
    @include health-fontgrid(lg, default, light);

    &--dark {
      color: $AU-color-foreground-text;
    }
  }

  //// Abbreviations ////
  abbr,
  abbr[title],
  .definition {
    border-bottom: 1px dotted #CCC !important;
    text-decoration: none !important;
    cursor: help;
  }

  // Create class for screen reader only.
  .au-sronly {
    @include AU-sronly();
  }

  $spacing-unit: 0.25rem;

  @function au-space($value) {
    @return $spacing-unit * $value;
  }

  $spacing-sizes: (
    none: 0,
    small: 2, // 0.5rem
    standard: 6, // 1.5rem
    large: 12, //3rem
  );

  $screen-sizes: (
    sm:'sm',
    md:'md',
    lg:'lg'
  );

  @each $name, $value in $spacing-sizes {
    .margin-bottom--#{$name} {
      margin-bottom: au-space($value);
    }
    .margin-top--#{$name} {
      margin-top: au-space($value);
    }
  }

  @each $screensize-key, $screensize in $screen-sizes {
    @each $name, $value in $spacing-sizes {
      @include AU-media($screensize) {
        .#{$screensize}\:margin-bottom--#{$name} {
          margin-bottom: au-space($value)
        }
        .#{$screensize}\:margin-top--#{$name} {
          margin-top: au-space($value)
        }
      }
    }
  }

  // Standard gap class (to keep previous functionality working)
  %standard-gap,
  .standard-gap {
    @extend .margin-top--standard;

    &--mobile-only {
      @extend .margin-top--standard;
      @extend .md\:margin-top--none;
    }

    &--bottom {
      @extend .margin-bottom--standard;

      &--mobile-only {
        @extend .margin-top--standard;
        @extend .md\:margin-top--none;
      }
    }
  }

  // Hide fields when printing.
  .print--hide {
    @media print {
      display: none;
    }
  }

  @media print {
    a[href]:after {
      content: '' !important;
    }

    p {
      max-width: 100%;
    }
  }

  // IE 11.
  main,
  aside {
    display: block;
  }
}
