<div class="health-pager">
  <h2 class="sr-only">Pages</h2>
  <ul class="au-link-list au-link-list--inline">
    <li><a href="#">« first</a></li>
    <li><a href="#">‹ previous</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li class="active">5</li>
    <li><a href="#">6</a></li>
    <li><a href="#">7</a></li>
    <li><a href="#">8</a></li>
    <li><a href="#">9</a></li>
    <li>…</li>
    <li><a href="#">next ›</a></li>
    <li><a href="#">last »</a></li>
  </ul>
</div>