<div class="health-book-nav standard-gap" role="navigation" aria-label="Book">
  <div class="row">
    <div class="col-xs-6">
      <a class="health-book-nav--left" href="#">
        <span class="au-direction-link au-direction-link--left">Previous</span>
        <span class="au-display-lg au-display--light health-book-nav__title">Diplodocus</span>
      </a>
    </div>

    <div class="col-xs-6">
      <a class="health-book-nav--right" href="#">
        <span class="au-direction-link au-direction-link--right">Next</span>
        <span class="au-display-lg au-display--light health-book-nav__title">Velociraptor</span>
      </a>
    </div>
  </div>
</div>