// Space/pad cards from global vars in _variables.scss
$card-padding: ($component-padding/3)*2;
$card-padding--mobile: $component-padding--mobile;

.au-body {
  .health-card {
    background: var(--card-bg);
    @include border-radius;
    position: relative;
    overflow: hidden;
    padding: 0;
    display: flex;
    flex-direction: column;
    transition: all ease 0.2s;

    // ========================================================
    // Elements
    // ========================================================

    &__header {
      // To be developed
      display: none;
    }

    &__body {
      @include AU-space(padding, $card-padding--mobile);

      @include AU-media('sm') {
        @include AU-space(padding, $card-padding);
      }

      display: flex;
      flex-direction: column;
    }

    &__title {
      @include health-fontgrid('lg', 'heading');
      color: var(--card-text) !important;
    }

    &__link {}

    &__text {
      @include AU-space(margin-top, 1unit);
    }

    &__tag {
      font-size: 0.9rem;
      @include AU-space(margin-top, 0.2unit); // TODO Review
    }

    &__date {
      font-size: 0.9rem;
      @include AU-space(margin-top, 1unit); // TODO Review
      color: var(--card-text-minor);
    }

    &__image {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      // For icons only
      svg {
        height: 3em;
        width: 3em;

        @include AU-media(sm) {
          height: 5em;
          width: 5em;
        }
      }
    }

    &__icon {
      max-width: 75px;
    }


    &__footer {
      // To be developed
      display: none;
    }

    // ========================================================
    // Variants
    // ========================================================

    // Shadow
    &--shadow {
      @include box-shadow;
    }

    // Shadow
    &--clickable {
      a {
        @include pseudo-clickable-block;
      }

      .health-card__body {
        @include AU-space(padding-bottom, ($card-padding--mobile+1));

        @include AU-media('sm') {
          @include AU-space(padding-bottom, ($card-padding+1));
        }
      }

      .health-card__link {
        color: var(--card-text);
        text-decoration: none;
      }

      &:after {
        content: ' ';
        display: block;
        position: absolute;
        height: 24px;
        width: 20px;
        @include AU-space(bottom, 1.5unit);
        @include AU-space(right, 2unit);
        transition: margin 0.2s ease;
        transition-property: right;
        background: var(--card-clickable-icon);
        mask-image: AU-svguri('<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"/></svg>');
        -webkit-mask-image: AU-svguri('<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z"/></svg>');

      }

      &:hover,
      &:focus,
      &:active {
        @include box-shadow($colour-shadow-hover);
        @include opacity(0.9);

        a {
          text-decoration: underline;
        }

        &:after {
          @include AU-space(margin-left, 0.4unit);
          @include AU-space(right, 1.5unit);
        }
      }
    }

    // Horizontal
    &--horizontal {
      flex-direction: row;
      align-items: stretch;

      .health-card__image {
        /* Three values: flex-grow | flex-shrink | flex-basis */
        flex: 1 1 30%;
        position: relative;
        height: auto;
      }

      .health-card__body {
        flex: 1 1 70%;
        height: auto;
      }

      &--reverse {
        flex-direction: row-reverse;
      }
    }

    // Solid colour cards
    &--colour-primary {
      @include background-style(var(--primary-gradient-bg--start), var(--primary-gradient-bg--end));
      color: var(--card-text--primary);

      .health-card__title,
      .health-card__link {
        color: var(--card-text--primary);
      }

      .health-card__date {
        color: var(--card-text-minor--primary);
      }

      &.health-card--clickable {
        &:after {
          background: var(--card-clickable-icon--primary);
        }
      }
    }

    &--colour-secondary {
      @include background-style(var(--secondary-gradient-bg--start), var(--secondary-gradient-bg--end));
      color: var(--card-text--secondary);

      .health-card__title,
      .health-card__link {
        color: var(--card-text--secondary);
      }

      .health-card__date {
        color: var(--card-text-minor--secondary);
      }

      &.health-card--clickable {
        &:after {
          background: var(--card-clickable-icon--secondary);
        }
      }
    }

    &--colour-tertiary {
      @include background-style(var(--tertiary-gradient-bg--start), var(--tertiary-gradient-bg--end));
      color: var(--card-text--tertiary);

      .health-card__title,
      .health-card__link {
        color: var(--card-text--tertiary);
      }

      .health-card__date {
        color: var(--card-text-minor--tertiary);
      }

      &.health-card--clickable {
        &:after {
          background: var(--card-clickable-icon--tertiary);
        }
      }
    }

    &--colour-neutral {
      @include background-style(var(--neutral-bg--darker));
      color: var(--card-text--neutral);

      .health-card__title {
        color: var(--card-text--neutral);
      }

      .health-card__date {
        color: var(--card-text-minor--neutral);
      }

      &.health-card--clickable {
        &:after {
          background: var(--card-clickable-icon--neutral);
        }
      }
    }

    // Highlight cards
    &--highlight {
      border-top: 6px solid var(--card-highlight-border);
    }

    // Centered
    &--centered {
      text-align: center;

      .health-card__icon {
        margin: 0 auto;
      }
    }

    // Profile image (requires square image)
    &--contact {
      text-align: center;

      .health-card__image {
        img {
          width: 50%;
          height: auto;
          max-width: 200px;
          @include AU-space(margin, 2unit auto -1unit auto);
        }

        &.health-card__image--circle {
          img {
            border-radius: 50%;
          }
        }
      }

      // Profile image horizontal (requires square image)
      &-horizontal {
        flex-direction: row;
        align-items: stretch;
        text-align: left;

        .health-card__body {
          flex: 1 1 70%;
          height: auto;
        }

        .health-card__title {
          @extend h4;
        }

        .health-card__image {
          flex: 1 1 30%;
          position: relative;
          height: auto;
          text-align: center;
          @include background-style(var(--neutral-bg--darker));

          img {
            width: 60%;
            height: auto;
            max-width: 200px;
            @include AU-space(margin, 2unit auto);
          }

          &.health-card__image--circle {
            img {
              border-radius: 50%;
            }
          }
        }
      }
    }

    // Full-image card
    &--image-full {
      // TBC
    }

  }
}