// Video
//
// Markup: video.twig
//
// Style guide: components.video

.health-video {

  *+& {
    @include AU-space(margin-top, 1.5unit);
  }

  &__transcript {
    margin-top: 0;
    border: 0;
  }

  &__preview {

    position: relative;
    line-height: 0;

    .health-video__preview__play-button {
      display: block;
      position: absolute;
      font-size: 6em;
      opacity: 0.8;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);

      svg {
        fill: white;
        filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, .75));
      }
    }

    &__link {
      display: block;
      // &:hover,
      // &:active,
      // &:focus {
      //   .health-video__preview__play-button {
      //     display: block;
      //     cursor: pointer;
      //   }
      // }
    }

    &__length {
      @include AU-space('padding', .75unit);
      background-color: #000;
      color: #fff;
      @include opacity(0.75);
      vertical-align: top;
      display: inline-block;
      position: absolute;
      right: 0;
      bottom: 0;

      &--small {
        @include AU-space('padding', .75rem .5rem);
        font-size: 0.75em;

        @include AU-media(sm) {
          @include AU-space('padding', .5rem);
          display: inline-block;
        }

        .svg-inline--fa {
          display: none;

          @include AU-media(sm) {
            display: inline-block;
          }
        }
      }
    }
  }

  &--inline {
    border: $health-borderize--thin;
    @include AU-space(padding, 1unit);

    *+& {
      @include AU-space(margin-top, 1.5unit);
    }
  }

}