.au-grid {
  .au-header .health-search {
    @include AU-media(sm) {
      float: right;
    }
  }
}

// Search bar.
.health-search {

  position: relative;
  display: inline-block;

  @media print {
    display: none;
  }

  max-width: 22.75em;

  @include AU-space(margin-top, 1.5unit);
  @include AU-media(sm) {
    margin-top: 0;
  }

  // Global search for desktop
  &--global {
    @include AU-space(margin-top, .5unit);
    @include AU-space(padding-bottom, 1unit);
    @include AU-media(sm) {
      display: block;
      padding-bottom: 0;
      margin-top: 0;
    }

    @media print {
      display: none;
    }
  }

  // Listing search
  &--listing {
    width: auto;

    @media print {
      display: none;
    }
  }

  // Remove the spacing applied by au-form.
  .au-form__item, input {
    margin-top: 0 !important;
  }

  // The search form.
  &__form {

    @include AU-clearfix;
    position: relative;

    label {
      @include AU-sronly();
    }

    &#search-api-page-search-form {
      float: left;
    }

    &__input {
      border-color: $AU-color-foreground-text;
      background-color: white;
      width: 100%;
      @include AU-media(sm) {
        @include AU-space(width, 15unit);
      }
      @include AU-media(md) {
        @include AU-space(width, 20unit);
      }
      &-wrapper {
        width: 100%;
        padding-right: 45px;
      }
    }

    &__submit {
      position: absolute;
      right: 0;
      top: 0;
      background-color: $AU-color-foreground-text;
      border: none;
      width: 46px;
      height: 46px;
      text-indent: -999px;
      background-image: AU-svguri('<svg viewBox="-5 -5 32 32" fill="#{ $AU-color-background }" xmlns="http://www.w3.org/2000/svg">
    <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
      &:hover:not(:disabled),
      &:focus:not(:disabled) {
        background-color: $colour-foreground-text--dark;
      }
      border-radius: 0px 4px 4px 0;
    }
  }
}

// Search results.
.au-body {
  .health-search-result {
    &__link {
      text-decoration: none;
    }
    &__link-title {
      margin-top: 0;
      text-decoration: underline;
      display: inline-block;
    }
    &__link-path {
      color: $colour-path;
      font-size: 0.9em;
      word-break: break-all;
    }

    &__summary {
      @include AU-space(margin-top, 0.5unit);
    }
    &__summary-date {
      color: $colour-dark;
    }

    &__tag {
      text-transform: uppercase;
    }

    // For Notes
    // @todo Move into health theme.
    &--notes {
      .health-search-result__link-title {
        &:after {
          content: 'Old Health website';
          font-size: .8rem;
          color: $AU-color-foreground-text;
          font-weight: 400;
          text-decoration: none;
          padding: 3px 5px;
          border-radius: 4px;
          display: inline-block;
          border: 1px solid $colour-light;
          background: $colour-lighter;
          margin-left: 5px;
        }
      }
    }
  }
}

form[class*='col-'].health-search__form {
  .health-search__form__submit {
    right: 12px;
  }
}

// Autocomplete.
// Unfortunately we don't have full control over jQuery UI classes, so we have to use their classes.
.ui-autocomplete {
  z-index: 9999999;
  background: white;
  border: 1px solid $AU-colordark-background;
  width: 300px;
  position: absolute;
  li.ui-menu-item {
    &:hover {
      cursor: pointer;
    }
    margin: 0;
    .ui-menu-item-wrapper {
      @include AU-space(padding, 0.25unit 1.2unit);
    }
  }
}

.ui-state-active {
  background: $AU-color-foreground-action;
  color: white;
}

.ui-helper-hidden-accessible {
  @include AU-sronly();
}
