// Sub-branding for campaign/subsites/etc
// Hooks onto body class (e.g. <body class="sub-brand covid dark">)
// - sub-brand applies defaults
// - covid is specific brand colours
// - dark/light provides overrides for text

// Ghost class to override text colours
// @extend onto specific brand class
%sub-brand--dark,
%subheader--dark {

    h1,
    p,
    .au-introduction {
        color: $AU-colordark-foreground-text;
    }

    a {
        color: $AU-colordark-foreground-text;
    }

    .health-toolbar {
        .au-btn.au-btn--tertiary {
            color: $AU-colordark-foreground-text;

            &:hover:not(:disabled) {
                color: $AU-colordark-foreground-text;
            }
        }
    }
}

%sub-brand--light {

    h1,
    p,
    .au-introduction {
        color: #000;
    }

    a {
        color: #000;
    }

    .health-toolbar {
        .au-btn.au-btn--tertiary {
            color: #000;

            &:hover:not(:disabled) {
                color: #000;
            }
        }
    }
}