.health-field__label {
  * + & {
    @include AU-space(margin-top, 1.5unit);
  }
  font-weight: bold;

  &--light {
    font-weight: normal;
  }

  &--inline {
    @include AU-media(sm) {
      float: left;
      width: 10em;
    }
  }
  &--inline--wide {
    @include AU-media(sm) {
      float: left;
      width: 15em;
    }
  }
}

.health-field__item {
  * + .health-field__label + & {
    margin-top: 0;
  }
  * + .health-field__label--inline + &,
  * + .health-field__label--inline--wide + &
  {
    @include AU-media(sm) {
      @include AU-space(margin-top, 1.5unit);
    }
  }
  & + & {
    @include AU-space(margin-top, .5unit);
  }
  p + & {
    @include AU-space(margin-top, 1unit);
  }
  .health-metadata + & {
    @include AU-space(margin-top, .5unit);
  }
}

// Special case of multiple addresses in one field.
.health-maps--google + .health-field__label {
  @include AU-space(margin-top, 1.5unit);
}

