// Figure
//
// A figure image with a long description and notes.
//
// Markup: figure.twig
//
// Style guide: Components.figure

.health-figure {

  * + & {
    @include AU-space(margin-top, 1.5unit);
  }

  &--border {
    border: $health-borderize--thin;
    padding: 1rem;
  }

  &__image-link {
    display: block;
    &[href]:before {
      position: absolute;
      font-size: 1.75em;
      left: 4px;
      background: white;
      @include AU-space(padding, .5unit);
      top: 20px;
      border: $health-borderize--very-thin;
    }

    &:hover, &:focus {
      &[href]:before {
        content: "\f00e";
      }
    }
  }

  img {

  }
}

figure {
  margin: 0;
  img {
    margin: 0;
  }
  * + & {
    @include AU-space(margin-top, 1.5unit);
  }
}

.fancybox-button {
  width: 46px;
  i:before {
    margin-right: 0;
  }
}