.health-toolbar {
  @include AU-space(margin-top, 1unit);

  @include AU-media(sm) {
    @include AU-space(margin-top, 0);
  }

  &__items {
    >li {
      margin: 0;
      float: left;
      display: block;

      .au-btn {
        margin-bottom: 0;
      }
    }
  }

  @media print {
    display: none;
  }

  #health-share-menu {
    display: none;
  }

  .health-tooltip-theme {

    #health-share-menu,
    .health-share-menu {
      display: block;

      a {
        color: $AU-color-foreground-action;

        &:hover {
          color: $AU-color-foreground-action;
          text-decoration: none;
        }
      }
    }
  }

}