// Fields
.field {

  // Provide margin on top.
  * + & {
    @include AU-space(margin-top, 1.5unit);
  }

  .field + &.field-label-hidden,
  .metadata + &.field-label-hidden
  {
    @include AU-space(margin-top, .5unit);
  }

  @include AU-clearfix();

  .field__label, .field-label, &.field__label {
    font-weight: bold;
    &--light {
      font-weight: normal;
    }
  }

  &__item + &__label {
    @include AU-space(margin-top, .5unit);
  }

  // Special case of multiple addresses in one field.
  .health-maps--google + .field__label {
    @include AU-space(margin-top, 1.5unit);
  }
}

// Metadata, such as dates and types, used mainly in listings.
.metadata {

  &--inline {

    @include AU-space(margin-top, .5unit);

    .field {
      @include AU-space(margin-top, 0);
    }

    > div, > span {
      color: $colour-minorText;
      display: inline-block;
      border-left: 1px solid $colour-minorText;
      @include AU-space(margin-left, .5unit);
      @include AU-space(padding-left, .5unit);
    }

    > :first-child {
      border-left: none;
      margin-left: 0;
      padding-left: 0;
    }
  }
}
