// Figure
//
// A figure image with a long description and notes.
//
// Markup: figure.twig
//
// Style guide: Components.figure

.health-figure {

  * + & {
    @include AU-space(margin-top, 1.5unit);
  }

  &--border {
    border: $health-borderize--thin;
    padding: 1rem;
  }

  &__image-link {
    display: block;
    position: relative;

    .health-figure__image-link__icon {
      display: none;
    }

    &:hover, &:focus {
      .health-figure__image-link__icon {
        display: block;
        position: absolute;
        background: white;
        @include AU-space(padding, .5unit);
        left: 5px;
        top: 5px;
        border: $health-borderize--very-thin;
      }
    }
  }
}

figure {
  margin: 0;
  img {
    margin: 0;
  }
  * + & {
    @include AU-space(margin-top, 1.5unit);
  }
}

.fancybox-button {
  width: 46px;
  i:before {
    margin-right: 0;
  }
}
