// Metadata, such as dates and types, used mainly in listings.
.health-metadata {

  * + & {
    @include AU-space(margin-top, .5unit);
  }

  &.health-metadata--inline {

    .health-field {
      display: inline;
      border-left: 1px solid $colour-minorText;
      @include AU-space(margin-left, .5unit);
      @include AU-space(padding-left, .5unit);
      .health-field__item {
        display: inline;
      }
    }

    > :first-child {
      border-left: none;
      margin-left: 0;
      padding-left: 0;
    }
  }
}
