<ul class="list--remove text--minor standard-gap">
  <li>
    Anderson, J. F.; Hall-Martin, A. J.; Russell, D. (1985). "Long bone circumference and weight in mammals, birds and
    dinosaurs". Journal of Zoology. 207 (1): 53–61
  </li>
  <li>
    Henderson, D. M. (1999-01-01). "Estimating the masses and centers of mass of extinct animals by 3-D mathematical
    slicing". Paleobiology. 25 (1): 88–106.
  </li>
  <li>
    Carr, T. D.; Williamson, T. E. (2004). "Diversity of late Maastrichtian Tyrannosauridae (Dinosauria: Theropoda) from
    western North America". Zoological Journal of the Linnean Society. 142 (4): 479–523
  </li>
</ul>