// OGTR palette
// Do not use this outside this file
$ogtr-primary-purple: #2a2c45;
$ogtr-primary-green: #4f6524;
$ogtr-primary-blue: #20639b; //#2E52A3;
$ogtr-secondary-yellow: #f6d55c;
$ogtr-secondary-orange: #ed553b;
$ogtr-secondary-purple: #615e9b;

// Instead, map them to vars used in the Design System here
$primary-colour: $ogtr-primary-blue;
$gradient-start-colour: $ogtr-primary-blue;
$gradient-end-colour: tint($ogtr-primary-blue, 20%);
$main-nav-border-colour: shade($ogtr-primary-blue, 10%);
$footer-bg-colour: $ogtr-primary-purple;
$callout-border-colour:$ogtr-secondary-purple;
$callout-border-colour--secondary: $ogtr-secondary-orange;
$callout-border-colour--tertiary: $ogtr-secondary-yellow;
$inpage-border-colour: $ogtr-secondary-orange;
$card-top-colour-1: $ogtr-primary-blue;
$card-top-colour-2: $ogtr-secondary-yellow;
$card-top-colour-3: $ogtr-secondary-orange;
$card-top-colour-4: $ogtr-secondary-purple;
$nav-active-bg-colour: tint($ogtr-primary-blue, 90%);
$nav-header-bg-colour: $ogtr-primary-blue;