<nav class="h-nav-selector" aria-label="content listing navigation">
    <ul>
        <li class="h-nav-selector__item"><a href="#" class="h-nav-selector__link">Item 1</a></li>
        <li class="h-nav-selector__item"><a href="#" class="h-nav-selector__link">Item 2</a></li>
        <li class="h-nav-selector__item"><a href="#" class="h-nav-selector__link h-nav-selector__link--active" aria-current="page">Item 3</a></li>
        <li class="h-nav-selector__item"><a href="#" class="h-nav-selector__link">Item 4</a></li>
        <li class="h-nav-selector__item"><a href="#" class="h-nav-selector__link">Item 5</a></li>
        <li class="h-nav-selector__item"><a href="#" class="h-nav-selector__link">Item 6</a></li>
        <li class="h-nav-selector__item"><a href="#" class="h-nav-selector__link">Item 7</a></li>
    </ul>
</nav>