<div class="health-hero health-hero--dark">
  <div class="health-hero__image-container">
    <img class="health-hero__image" src="{{ path "/images/nst-hero.jpg" }}" class="nsw-hero-banner__image" alt="">
  </div>
  <div class="container">
    <div class="row">
      <div class="health-hero__content">
        <h1 class="health-hero__title">{{ title }}</h1>
          <p class="health-hero__summary">{{ summary }}</p>
          <p>
            <a class="health-hero__call-to-action au-btn au-btn--dark au-btn--large" href="#">
              {{ call-to-action }}
            </a>
          </p>
      </div>
    </div>
  </div>
</div>