<div class="health-hero health-hero--{{modifer}}">
  <div class="health-hero__bg"></div>
  {{#if image}}
    <div class="health-hero__image-container">
      <img class="health-hero__image" src="{{image}}" alt="Hero image" />
    </div>
  {{/if}}
  <div class="container">
    <div class="health-hero__content">
      <h1 class="health-hero__title">{{title}}</h1>
      <p class="health-hero__summary">{{summary}}</p>
      <p class="health-hero__call-to-action">
        <a href="#" class="au-btn au-btn--dark au-btn--large">Primary CTA</a>
        <a href="#" class="au-cta-link au-cta-link--dark">Secondary CTA</a>
      </p>
    </div>
  </div>
</div>