<div class="au-body au-body--dark health-hero">
  <div class="container">
    <div class="row">
      <div class="health-hero__content col-sm-7">
        <h1 class="health-hero__title">{{ title }}</h1>
        <p class="health-hero__summary">
          {{ summary }}
        </p>
        <p>
          <a class="health-hero__call-to-action au-btn au-btn--dark au-btn--large" href="#">
            {{ call-to-action }}
          </a>
        </p>
      </div>
    </div>
  </div>
</div>