<a class="health-card health-card--solid-half health-card--shadow health-card--{{colour}}" href="#">
  <h3 class="health-card__title au-display-md">{{ title }}</h3>
  <div class="health-card__text">
    <p>{{ content }}</p>
  </div>
</a>
