<a class="
health-card
health-card--centered
health-card--shadow
health-card--top-highlight
health-card--cta
{{ colour }}
" href="#">
  <div class="health-card__image">
    <i class="fa fa-{{icon}} fa-block fa-very-large"></i>
  </div>
  <h3 class="health-card__title au-display-md au-display--heavy">
    {{title}}
  </h3>
</a>