
// NST colours
$primary-gold: #BA8A58;
$light-gold: #E9AD74;
$gravitas-grey: #333333;
$light-grey: #f1f1f2;

// Assigend to global vars
$AU-colordark-background: $gravitas-grey;
$health-color-background-subheader: $light-grey;
$health-footer-background: $gravitas-grey;