<nav class="au-inpage-nav-links" aria-label="On this page">
  <div class="au-inpage-nav-links__heading">On this page</div>
  <ul>
    <li><a href="#description">Description</a></li>
    <li><a href="#what-can-you-disclose">History of research</a></li>
    <li><a href="#who-can-make-a-disclosure">Amazing facts</a></li>
    <li><a href="#how-to-make-a-disclosure">Getting away from a Tyrannosaurus rex</a></li>
    <li><a href="#what-happens-next">Glossary</a></li>
    <li><a href="#contact">References</a></li>
  </ul>
</nav>