<ul class="health-listing">
  {% for item in items  %}
    <li>
      {# Fractal compatiable. #}
      {% if _env.server == true or _env.build == true %}
        {% include "@" ~ item ignore missing %}
      {% endif %}
      {# Drupal compatiable. #}
      {% if _env.server == false and _env.build == false %}
        {{ item }}
      {% endif %}
    </li>
  {% endfor %}
</ul>
