<ul class="health-listing">
  {% for item in items  %}
    <li>
      {# Fractal compatiable. #}
      {% include "@" ~ item ignore missing %}
      {# Drupal compatiable. #}
      {% if _env.server == false %}
        {{ item }}
      {% endif %}
    </li>
  {% endfor %}
</ul>
