<ul class="health-listing">
  <li>
    {% include '@hds/01-components/_listing-video.twig' %}
  </li>
  <li>
    {% include '@hds/01-components/_listing-publication.twig' %}
  </li>
  <li>
    {% include '@hds/01-components/_listing-video.twig' %}
  </li>
  <li>
    {% include '@hds/01-components/_listing-publication.twig' %}
  </li><li>
    {% include '@hds/01-components/_listing-video.twig' %}
  </li>
  <li>
    {% include '@hds/01-components/_listing-publication.twig' %}
  </li><li>
    {% include '@hds/01-components/_listing-video.twig' %}
  </li>
  <li>
    {% include '@hds/01-components/_listing-publication.twig' %}
  </li><li>
    {% include '@hds/01-components/_listing-video.twig' %}
  </li>
  <li>
    {% include '@hds/01-components/_listing-publication.twig' %}
  </li><li>
    {% include '@hds/01-components/_listing-video.twig' %}
  </li>
  <li>
    {% include '@hds/01-components/_listing-publication.twig' %}
  </li>
</ul>
