.health-toolbar {

  // @include AU-space(margin-top, .5unit);
  @include AU-space(padding-bottom, .5unit);

  &__items {
    > li {
      margin: 0;
      @include AU-space(margin-right, 1.1unit);
      @include AU-media(sm) {
        @include AU-space(margin-right, 1unit);
      }
      float: left;
      display: block;
    }
  }

  @media print {
    display: none;
  }

  #health-share-menu {
    display: none;
  }
  .health-tooltip-theme {
    #health-share-menu {
      display: block;
    }
  }

}
