.health-compare {
  border: $health-borderize--tertiary-very-thin;
  @include AU-space(margin-top, 1unit);
  @include AU-space(padding-bottom, 1unit);

  &__title {
    background: lighten($colour-complementary-skyblue, 45%); // FIX
    font-weight: bold;
    @include AU-space(padding-top, 1unit);
    @include AU-space(padding-bottom, 1unit);
    @include AU-space(margin-bottom, 1unit);
  }
}