/*
 * List of references
 */
.health-references {
  > li {
    transition: background-color 1s;

    &.highlight {
      background-color: #ffffc6;
    }
  }
}

/*
 * Links to the reference
 */
.health-references__links {
  .health-references__link {
    border-bottom: 1px dotted #CCC;
    cursor: help;
  }
}

