// Description list
//
// A list of definitions
//
// Markup: description-list.twig
//
// Style guide: Components.description-list

.au-body {

  dl {

    * + & {
      @include AU-space(margin-top, 1.5unit);
    }
    border-bottom: $health-borderize--very-thin;
    margin-bottom: 0;

    dt {
      font-weight: bold;
      @include AU-space('margin-bottom', 1unit);
      border-top: $health-borderize--very-thin;
      @include AU-space('padding-top', 1unit);
      clear: both;

      @include AU-media(sm) {
        float: left;
        width: 25%;
      }
    }

    dd {
      margin-left: 0;

      @include AU-space('margin-bottom', 1unit);
      padding-top: 0;

      @include AU-media(sm) {
        border-top: $health-borderize--very-thin;
        @include AU-space('padding-left', 1unit);
        @include AU-space('padding-top', 1unit);
        float: left;
        width: 75%;
      }
    }

  }
}
