<div class="health-search{{#if search.global}} health-search--global{{/if}}">
  <form class="au-form">
    <div class="health-search__form__input-wrapper">
      <div class="au-form__item">
        <label class="au-sronly" for="search-field">Search</label>
        <input placeholder="{{search.placeholder}}"
               class="health-search__form__input au-text-input au-text-input au-text-input--block ui-autocomplete-input"
               size="30" type="text" id="{{search.id}}" name="funnelback_search_field" value=""
               maxlength="128" autocomplete="off">
      </div>
      {{> @loading--search }}
    </div>
    <input class="health-search__form__submit au-btn au-btn" type="submit" name="submit" value="Search">
  </form>
</div>

<script language="JavaScript">
  $(document).ready(function () {
    health.searchAutocomplete('#{{search.id}}', dinosaurData);
  });
</script>