<div class="row">
  <div class=" col-xs-3">
    {{ render '@image--border-link' }}
  </div>

  <div class="col-xs-9">
    <h2 class="au-display-lg"><a href="#">Why the Tyrannosaurus is the best</a></h2>
    <div class="metadata metadata--inline au-display-sm--text">
      <div class="field">
        <div class="field-item">3 April 2019</div>
      </div>
      <div class="field">
        <div class="field-item">Factsheet</div>
      </div>
    </div>
    <div class="field field-label-hidden">
      <div class="field-item">
        Tyrannosaurus is a genus of coelurosaurian theropod dinosaur. The species Tyrannosaurus rex (rex meaning
        "king" in Latin), often called T. rex or colloquially T-Rex, is one of the most well-represented of the
        large theropods.
      </div>
    </div>
  </div>
</div>