  <ul class="health-tabs{{#if modifier}} {{modifier}}{{/if}} au-link-list au-link-list--inline">
    <li class="active"><a href="#" class="active health-tabs__tab--colour1">General information</a></li>
    <li><a href="#" class="health-tabs__tab--colour1">Teachers</a></li>
    <li><a href="#" class="health-tabs__tab--colour2">Researchers</a></li>
    <li><a href="#" class="health-tabs__tab--colour3">Archeologists</a></li>
  </ul>