<ul class="health-tabs au-link-list au-link-list--inline">
  <li class="active"><a href="#">Theropods</a></li>
  <li><a href="#">Sauropodomorpha </a></li>
  <li><a href="#">Ornithischia</a></li>
  <li><a href="#">Spinosaurus</a></li>
  <li><a href="#">Acrocanthosaurus</a></li>
  <li><a href="#">Ornithischia</a></li>
</ul>