<ul class="health-tabs au-link-list au-link-list--inline">
  <li class="active"><a href="#" class="active">Theropods</a></li>
  <li><a href="#">Sauropodomorpha </a></li>
  <li><a href="#">Ornithischia</a></li>
</ul>