<p>
  Approved by
  <abbr aria-label="Abbreviation" title="National Health and Medical Research Council">NHMRC</abbr>
  <span style="display:none;" id="abbr-nhmrc-7">National Health and Medical Research Council</span>
  in December 2011.
</p>