<p><strong>Unordered</strong></p>
<ul{{#if modifier}} class="{{modifier}}"{{/if}}>
  <li> One.</li>
  <li> Two.</li>
  <li> Three. Well, probably this list item should be longer. Note that
    for short items lists look better if they are compactly presented,
    whereas for long items, it would be better to have more vertical spacing between items.</li>
  <li> Four. This is the last item in this list.
    Let us terminate the list now without making any more fuss about it.
  </li>
</ul>

<p><strong>Ordered</strong></p>
<ol{{#if modifier}} class="{{modifier}}"{{/if}}>
  <li> One.</li>
  <li> Two.</li>
  <li> Three. Well, probably this list item should be longer. Note that
    for short items lists look better if they are compactly presented,
    whereas for long items, it would be better to have more vertical spacing between items.</li>
  <li> Four. This is the last item in this list.
  Let us terminate the list now without making any more fuss about it.

  </li>
</ol>