<div class="health-sub-nav text--align-right">
  <h3 class="au-sronly">Sub menu</h3>
  <ul class="au-link-list au-link-list--inline">
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
    <li><a href="#">Link 3</a></li>
  </ul>
</div>