
<div class="health-band health-band--neutral-1">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>3 cards</h2>
                <div class="flex-container">
                    {% include '@hds/01-components/card/card--dta.twig' %}
                    {% include '@hds/01-components/card/card--dta.twig' %}
                    {% include '@hds/01-components/card/card--dta.twig' %}
                </div> 
            </div>
        </div>
    </div>
</div>

<div class="health-band health-band--neutral-1">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>3 cards - nth-of-type(1) bigger</h2>
                <div class="flex-container flex-container-promo1">
                    {% include '@hds/01-components/card/card--dta.twig' %}
                    {% include '@hds/01-components/card/card--dta.twig' %}
                    {% include '@hds/01-components/card/card--dta.twig' %}
                </div> 
            </div>
        </div>
    </div>
</div>

<div class="health-band health-band--neutral-1">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>2 cards - nth-of-type(1) bigger</h2>
                <div class="flex-container flex-container-promo1">
                    {% include '@hds/01-components/card/card--dta.twig' %}
                    {% include '@hds/01-components/card/card--dta.twig' %}
                </div> 
            </div>
        </div>
    </div>
</div>

<div class="health-band health-band--neutral-1">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>3 cards - nth-of-type(2) bigger</h2>
                <div class="flex-container flex-container-promo2">
                    {% include '@hds/01-components/card/card--dta.twig' %}
                    {% include '@hds/01-components/card/card--dta.twig' %}
                    {% include '@hds/01-components/card/card--dta.twig' %}
                </div> 
            </div>
        </div>
    </div>
</div>

<div class="health-band health-band--neutral-1">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>4 cards - nth-of-type(1) bigger multiple embed</h2>
                <div class="flex-container flex-container-promo1">
                    <div class="flex-container flex-container-promo1">
                        {% include '@hds/01-components/card/card--dta.twig' %}
                        {% include '@hds/01-components/card/card--dta.twig' %}
                    </div> 
                    <div class="flex-container flex-container-promo1">
                        {% include '@hds/01-components/card/card--dark.twig' %}
                        {% include '@hds/01-components/card/card--dark.twig' %}
                    </div> 
                </div> 
            </div>
        </div>
    </div>
</div>

<div class="health-band health-band--neutral-1">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>2 cards</h2>
                <div class="flex-container">
                    {% include '@hds/01-components/card/card--dta.twig' %}
                    {% include '@hds/01-components/card/card--dta.twig' %}
                </div> 
            </div>
        </div>
    </div>
</div>