<header class="au-header pillars-container" role="banner">
  <div class="container">
    <div id="pillars"></div>
    <div class="row">
      <div class="col-sm-5">
        <a href="/" title="Home" rel="home" class="au-header__logo">
          <img src="{{path '/images/DoHCrest-OGTR.png'}}"
               alt="Office of the Gene Technology Regulator"
               class="au-header__logo-image au-responsive-media-img"
               width="600" height="146">
        </a>
        <div class="au-sronly">
          <p>Office of the Gene Technology Regulator</p>
        </div>
      </div>
      <div class="col-sm-7">
        {{ render '@sub-nav' }}
        {{ render '@search' }}
      </div>
    </div>
  </div>
</header>

{{ render '@main-nav' }}