<div class="row">
  <div class=" col-xs-3">
    {{ render '@video--preview' }}
  </div>

  <div class="col-xs-9">
    <h2 class="au-display-lg"><a href="#">Tyrannosaurus</a></h2>
    {{ render '@metadata' }}
    <div class="health-field health-field--label-hidden">
      <div class="health-field__item">
        Tyrannosaurus is a genus of coelurosaurian theropod dinosaur. The species Tyrannosaurus rex (rex meaning
        "king" in Latin), often called T. rex or colloquially T-Rex, is one of the most well-represented of the
        large theropods.
      </div>
    </div>
  </div>
</div>