<div class="health-band">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Plain</h2>
        <p>{{content}}</p>
      </div>
    </div>
  </div>
</div>

<div class="health-band health-band--neutral-1">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Neutral 1</h2>
        <p>{{content}}</p>
      </div>
    </div>
  </div>
</div>

<div class="health-band health-band--neutral-2">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Neutral 2</h2>
        <p>{{content}}</p>
      </div>
    </div>
  </div>
</div>