<div class="health-band health-band--secondary health-band--dark">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <h2>Title</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, eos ipsam est inventore laboriosam et aperiam non corrupti dolorem eius tempora harum aliquid veritatis ullam quaerat velit ad laborum. Doloribus?</p>
        <p>
          <a href="#" class="au-cta-link au-cta-link--dark">Call to action</a>
        </p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h2>Title</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, eos ipsam est inventore laboriosam et aperiam non corrupti dolorem eius tempora harum aliquid veritatis ullam quaerat velit ad laborum. Doloribus?</p>
        <p>
          <a href="#" class="au-cta-link au-cta-link--dark">Call to action</a>
        </p>
      </div>

      <div class="col-xs-12 col-sm-4">
        <h2>Title</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, eos ipsam est inventore laboriosam et aperiam non corrupti dolorem eius tempora harum aliquid veritatis ullam quaerat velit ad laborum. Doloribus?</p>
        <p>
          <a href="#" class="au-cta-link au-cta-link--dark">Call to action</a>
        </p>
      </div>
    </div>
  </div>
</div>
