<div class="health-band{% if modifier %} health-band--{{ modifier }}{% endif %}">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>{{ title }}</h2>
      </div>
    </div>
    <div class="row standard-gap">
      <div class="col-sm-6">
        {% include '@hds/01-components/card/card--image-vertical.twig' %}
      </div>
      <div class="col-sm-6 standard-gap--mobile-only">
        {% include '@hds/01-components/card/card--image-vertical.twig' %}
      </div>
    </div>
  </div>
</div>
