<div class="health-band{{#if modifier}} health-band--{{ modifier }}{{/if}}">
  <div class="health-band__container">
    <div class="row">
      <div class="col-xs-12">
        <h2>{{ title }}</h2>
      </div>
    </div>
    <div class="row standard-gap">
      <div class="col-sm-3 col-xs-4">
        {{ render '@image--border-link' }}
      </div>
      <div class="col-sm-9 col-xs-8">
        <h3><a href="#">Tyrannosaurus</a></h3>
        <p>Tyrannosaurus is a genus of coelurosaurian theropod dinosaur. The species Tyrannosaurus rex (rex meaning
          "king" in Latin), often called T. rex or colloquially T-Rex, is one of the most well-represented of the large
          theropods.</p>
      </div>
    </div>
  </div>
</div>
