<div class="health-band{% if modifier %} health-band--{{ modifier }}{% endif %}">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>{{ title }}</h2>
      </div>
    </div>
    <div class="row">
      <ul class="health-card-list health-card-list--matchheight">
        <li class="col-sm-6">
          {% include '@hds/01-components/card/card--audience.twig' with {
            title: 'Children',
            content: 'Activities for children to learn about dinosaurs.',
            colour: 'colour1'
          }%}
        </li>
        <li class="col-sm-6">
          {% include '@hds/01-components/card/card--audience.twig' with {
            title: 'Children',
            content: 'Activities for children to learn about dinosaurs.',
            colour: 'colour2'
          }%}
        </li>
        <li class="col-sm-6">
          {% include '@hds/01-components/card/card--audience.twig' with {
            title: 'Children',
            content: 'Activities for children to learn about dinosaurs.',
            colour: 'colour3'
          }%}
        </li>
        <li class="col-sm-6">
          {% include '@hds/01-components/card/card--audience.twig' with {
            title: 'Children',
            content: 'Activities for children to learn about dinosaurs.',
            colour: 'colour4'
          }%}
        </li>
      </ul>
    </div>
  </div>
</div>
