<p{{#if modifier}} class="{{modifier}}"{{/if}}>
  Sed laoreet, odio vitae dignissim finibus, urna ex ultrices arcu, ut iaculis quam nisi vitae purus. Curabitur nec odio
  et massa rutrum tincidunt ut ut turpis.
</p>