<ul class="health-footnotes list--remove text--minor">
  <li class="row">
    <span class="col-xs-2 col-sm-1">1</span>
    <span class="col-xs-10 col-sm-11">One study of Tyrannosaurus specimens with tooth marks in the bones attributable to the same genus was presented as evidence of cannibalism.</span>
  </li>
  <li class="row">
    <span class="col-xs-2 col-sm-1">2</span>
    <span class="col-xs-10 col-sm-11">Evidence of intraspecific attack were found by Joseph Peterson and his colleagues in the juvenile Tyrannosaurus nicknamed Jane</span>
  </li>
</ul>