<ul class="health-listing health-listing--compact">
  <li>
    <h3><a href="">Dinosaurs</a></h3>
  </li>
  <li>
    <h3><a href="">Mammals</a></h3>
  </li>
  <li>
    <h3><a href="">Reptiles</a></h3>
  </li>
  <li>
    <h3><a href="">Insects</a></h3>
  </li>
  <li>
    <h3><a href="">Birds</a></h3>
  </li>
</ul>