<div class="au-form__item">
  <label for="email">
    {{ textArea.label }}
    {% include '@hds/01-components/form/label-mandatory/label-mandatory.twig' %}
  </label>
  <div class="au-form__item-description">
    Please do not include any personal or financial information - limit is 1200 characters
  </div>
  <textarea class="au-text-input au-text-input--block{% if error %} error{% endif %}" id="description" name="description"></textarea>
</div>
