<div class="health-compare">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 health-compare__title">
        <p>Dinosaur sizes</p>
      </div>
      <div class="col-sm-6">
        <h5 id="target-201819">Tyrannosaurus</h5>
        <p>13 meters tall</p>
      </div>
      <div class="col-sm-6 standard-gap--mobile-only">
        <h5 id="target-201922">Brachiosaurus</h5>
        <p>21 meters tall</p>
      </div>
    </div>
  </div>
</div>