<nav class="au-breadcrumbs" aria-label="Breadcrumb">
  <h2 class="au-sronly">You are here</h2>
  <ol class="au-link-list au-link-list--inline">
    <li><a href="#">Home</a></li>
    <li><a href="#">Dinosaurs</a></li>
    <li><a href="#">Theropods</a></li>
  </ol>
</nav>
