<div class="health-facet">
  <h2 class="au-display-sm">Classification</h2>
  <div id="interested-in" class="health-facet__list">
    <div class="au-control-input au-control-input--compact au-control-input--block">
      <input type="checkbox" id="topic-1"
             name="topic"
             value="1"
             class="au-control-input__input"/>
      <label class="au-control-input__text" for="topic-1">Prosauropoda (25)</label>
    </div>

    <div class="au-control-input au-control-input--compact au-control-input--block">
      <input type="checkbox" id="topic-2"
             name="topic"
             value="2"
             class="au-control-input__input"/>
      <label class="au-control-input__text" for="topic-2">Sauropoda (164)</label>
    </div>

    <div class="au-control-input au-control-input--compact au-control-input--block">
      <input type="checkbox" id="topic-3"
             name="topic"
             value="3"
             class="au-control-input__input"/>
      <label class="au-control-input__text" for="topic-3">Ceratosauria (35)</label>
    </div>

    <div class="au-control-input au-control-input--compact au-control-input--block">
      <input type="checkbox" id="topic-4"
             name="topic"
             value="4"
             class="au-control-input__input"/>
      <label class="au-control-input__text" for="topic-4">Tetanurae (29)</label>
    </div>

    <div class="au-control-input au-control-input--compact au-control-input--block">
      <input type="checkbox" id="topic-5"
             name="topic"
             value="5"
             class="au-control-input__input"/>
      <label class="au-control-input__text" for="topic-5">Ornithopoda (11)</label>
    </div>

    <div class="au-control-input au-control-input--compact au-control-input--block">
      <input type="checkbox" id="topic-6"
             name="topic"
             value="6"
             class="au-control-input__input"/>
      <label class="au-control-input__text" for="topic-6">Pachycephalosauria (5)</label>
    </div>

    <div class="au-control-input au-control-input--compact au-control-input--block">
      <input type="checkbox" id="topic-7"
             name="topic"
             value="7"
             class="au-control-input__input"/>
      <label class="au-control-input__text" for="topic-7">Ceratopsia (44)</label>
    </div>

    <div class="au-control-input au-control-input--compact au-control-input--block">
      <input type="checkbox" id="topic-8"
             name="topic"
             value="8"
             class="au-control-input__input"/>
      <label class="au-control-input__text" for="topic-8">Stegosauria (7)</label>
    </div>

    <div class="au-control-input au-control-input--compact au-control-input--block">
      <input type="checkbox" id="topic-9"
             name="topic"
             value="9"
             class="au-control-input__input"/>
      <label class="au-control-input__text" for="topic-9">Ankylosauria (6)</label>
    </div>

    <div class="au-control-input au-control-input--compact au-control-input--block">
      <input type="checkbox" id="topic-2"
             name="topic"
             value="2"
             class="au-control-input__input"/>
      <label class="au-control-input__text" for="topic-2">Sauropoda (164)</label>
    </div>

    <div class="au-control-input au-control-input--compact au-control-input--block">
      <input type="checkbox" id="topic-3"
             name="topic"
             value="3"
             class="au-control-input__input"/>
      <label class="au-control-input__text" for="topic-3">Ceratosauria (35)</label>
    </div>

  </div>

  <script language="JavaScript">
    $(document).ready(function () {
      health.facetShowMore('.health-facet', 8);
    });
  </script>
</div>

