<div class="health-release-status au-body au-body--dark">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <span class="health-release-status__icon{{#if modifier}} health-release-status__icon--{{modifier}}{{/if}}">
          {{status}}
        </span>
        <div class="health-release-status--desktop">
          Welcome to our new website. <a href="#">Learn more about it</a>. This
          is still a work in progress, so please <a href="#">let us know what you
          think</a>.
        </div>
        <div class="health-release-status--mobile">
          Welcome to Health’s new website. <a href="#">Learn more about it</a>.
        </div>
      </div>
    </div>
  </div>
</div>