.health-hero {

  $parent: &; // more readable than &#{&}
  background: none;
  position: relative;

  @include AU-media('sm') {
    height: 380px;
    overflow: hidden;
  }

  &__image-container {
    @include AU-media('sm') {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }

  &__image {
    height: auto;
    display: block;

    @include AU-media('sm') {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border-bottom: 0;
    }
  }






  &__content {
    @include rgba-background(black, .8);
    position: relative;
    @include AU-space('padding', 3unit);
    width: 50%; //temp
  }

  &__title {}

  &__summary {
    @include health-fontgrid( lg , default, light);
  }

  &__call-to-action {}


  // Dark modifier
  &#{$parent}--dark {
    #{$parent}__content {
      color: white;
    }
  }
}
