.au-main-nav {
  &.au-main-nav--dark {
    border-bottom-color: $primary-gold;
    background: $AU-colordark-background;

    .active a {
      border-color: #000;
      background: #000;
    }

    a {
      border-color: #000;

      &:hover,
      &:focus {
        background: #000;
      }
    }

    .au-main-nav__menu {
      background-color: $gravitas-grey;
    }
  }

  .au-link-list {
    >li {

      &.active,
      &.active-trail {
        a {
          border-bottom-color: #fff;

          &:hover,
          &:focus {
            border-bottom-color: #fff;
          }
        }
      }
    }
  }
}