.Tree-collectionLabel {
  color: $color-text;

  span::before {
    width: 0.5rem;
    top: 0.4rem;
  }

  &:hover {
    background-color:#d6d6d6;
  }
}

.Tree-depth-2 {
  > h4 {
    font-weight: bold;
  }
}

.Tree-entityLink {
  color: $color-text;

  &:hover {
    color: $color-text;
    background-color:#d6d6d6;
  }

  .is-current & {
    color: $color-text;
    background-color:#d6d6d6;
  }
}

.Tree-title {
  color: $color-sidebar-heading;
  font-weight: 700;
}
