<header class="au-header au-header--simple pillars-container" role="banner">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <a href="/" title="Home" rel="home" class="au-header__logo">
          <img src="{{path '/images/DoHCrest.png'}}"
               alt="Australia Government Department of Health"
               class="au-header__logo-image au-responsive-media-img"
               width="300" height="146">
        </a>
        <div class="au-sronly">
          <p>National Sports Tribunal</p>
        </div>
      </div>
      <div class="col-sm-7">
        {{ render '@sub-nav' }}
        {{ render '@search' }}
      </div>
    </div>
  </div>
</header>